In [1]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from keras import layers
from keras.callbacks import EarlyStopping
from tensorflow.keras.preprocessing.sequence import pad_sequences # to pad sequences

from sklearn.preprocessing import StandardScaler # to normalise data
from sklearn.metrics import mean_squared_error

2023-05-01 12:36:51.357062: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-01 12:36:52.180701: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
# check working directory (should be .../EPiC-challenge)
cwd = os.getcwd()
print(cwd)

# change working directory if needed
# DIR = "set working directory here"
# os.chdir(DIR)

/home/jc2822/EPiC-challenge

In [3]:
#========================#
# LOAD DATA              #
#========================#
#
# Variable Names:
# train_data
# test_data
#

# load each fold as dictionary
def load_data_with_folds(scenario_dir_path, dataset_type):
    # make dict to store data frames for each fold
    fold_dfs = {}
    # iterate over the scenario directory
    for fold_dir in Path(scenario_dir_path).iterdir():
        if fold_dir.name.startswith('.'):
            continue  # skip hidden files/folders like .DS_Store and .ipynb_checkpoints
        train_annotations_dir = Path(fold_dir, f"{dataset_type}/annotations/")
        train_physiology_dir = Path(fold_dir, f"{dataset_type}/physiology/")
        train_physiology_files = sorted(p for p in Path(train_physiology_dir).iterdir() if not p.name.startswith('.'))
        train_annotation_files = sorted(p for p in Path(train_annotations_dir).iterdir() if not p.name.startswith('.'))
        fold_df = pd.DataFrame()
        for physiology_file_path, annotations_file_path in zip(train_physiology_files, train_annotation_files):
            if physiology_file_path.name.startswith('.') or annotations_file_path.name.startswith('.'):
                continue  # skip hidden files like .DS_Store and .ipynb_checkpoints
            assert physiology_file_path.name == annotations_file_path.name, "Order mismatch"
            df_physiology = pd.read_csv(physiology_file_path)
            df_annotations = pd.read_csv(annotations_file_path)
            subject = annotations_file_path.name
            merged_df = pd.merge(df_physiology, df_annotations, on="time", how="outer")
            merged_df["subject"] = [subject] * len(merged_df)
            fold_df = pd.concat([fold_df, merged_df], ignore_index=True)
        fold_dfs[fold_dir.name] = fold_df
    return fold_dfs

# specify scenario path
scenario_dir = "data/scenario_2"

# train data
print("Loading train data")
train_data = load_data_with_folds(scenario_dir, "train")

# test data
print("Loading test data")
test_data = load_data_with_folds(scenario_dir, "test")

Loading train data
Loading test data

In [4]:
#====================================#
# PAD VIDEO SEQUENCES: TRAINING SET  #
#====================================#
#
# Variable Names:
# train_data_scaled_padded
# test_data_scaled_padded
#

# set maxlen so that it is in increments of 50 to match the affect timescales
maxlen = 130000 

# separate out each video sequence, in prep for padding
train_data_scaled_padded = {}

# loop through each fold
for key, df in train_data.items():
    
    # find start of each sequence
    idx_zero = np.where(df['time']==0)[0]

    # initialize lists to store the data
    valence = []
    arousal = []
    raw_data = []

    # loop through each video sequence in the fold
    for i in range(len(idx_zero)):
        
        if i == len(idx_zero) - 1:
            
            valence.append(df['valence'][idx_zero[i]:])
            arousal.append(df['arousal'][idx_zero[i]:])
            raw_data.append(df.iloc[idx_zero[i]:, 1:9])
            
        else:
            
            valence.append(df['valence'][idx_zero[i]:idx_zero[i+1]])
            arousal.append(df['arousal'][idx_zero[i]:idx_zero[i+1]])
            raw_data.append(df.iloc[idx_zero[i]:idx_zero[i+1], 1:9])

    # store in each fold in dictionary
    train_data_scaled_padded[key] = {
        'valence': np.array(valence, dtype=object),
        'arousal': np.array(arousal, dtype=object),
        'raw_data': np.array(raw_data, dtype=object)
    }

# pad train data sequences to make them equal length
for key, array in train_data_scaled_padded.items():
    
    array['valence'] = pad_sequences(valence, dtype="float64", maxlen=maxlen, value=0.0, padding="post")
    array['arousal'] = pad_sequences(arousal, dtype="float64", maxlen=maxlen, value=0.0, padding="post")
    array['raw_data'] = pad_sequences(raw_data, dtype="float64", maxlen=maxlen, value=0.0, padding="post")

# check shape after padding
for key, array in train_data_scaled_padded.items():  
    
    print(array['valence'].shape)
    print(array['arousal'].shape)
    print(array['raw_data'].shape)
    break
    
for seq in array['valence']:
    length = len(seq)
    print(f"Length of sequence: {length}")
    break

(192, 130000)
(192, 130000)
(192, 130000, 8)
Length of sequence: 130000

In [5]:
# reshape data to prepare for timeseries batching
for key, array in train_data_scaled_padded.items():
    array['valence'] = array['valence'].reshape(-1)
    array['arousal'] = array['arousal'].reshape(-1)
    array['raw_data'] = array['raw_data'].reshape(-1, 8)
    
# check shape again
for key, array in train_data_scaled_padded.items():  
    print(array['valence'].shape)
    print(array['arousal'].shape)
    print(array['raw_data'].shape)
    break

(24960000,)
(24960000,)
(24960000, 8)

In [6]:
# stack valence and arousal & transpose
for key, array in train_data_scaled_padded.items(): 
    array['affect'] = np.vstack((array['valence'], array['arousal'])).T

In [7]:
#================================#
# PAD VIDEO SEQUENCES: TEST SET  #
#================================#


# pad test data
test_data_scaled_padded = {}

# loop through each fold
for key, df in test_data.items():
    
    # find start of each video sequence
    idx_start = np.where(df['time']==9900)[0] # only keep buffer of 100ms prior
    idx_end = np.where(df['time']==40000)[0]

    # initialize lists to store the data
    raw_data = []

    # loop through each sequence in fold
    for i in range(len(idx_start)): # n_videos
        
        raw_data.append(df.iloc[idx_start[i]:idx_end[i], 1:9])

    # store in each fold in dictionary
    test_data_scaled_padded[key] = {
        'raw_data': np.array(raw_data, dtype=object)
    }

# pad test data sequences
for key, array in test_data_scaled_padded.items():
    array['raw_data'] = pad_sequences(raw_data, dtype="float64", maxlen=30100, value=0.0, padding="post")
    array['raw_data'] = array['raw_data'].reshape(-1, 8)

# check shape after padding
for key, array in test_data_scaled_padded.items():  
    
    print(array['raw_data'].shape)
    break
    
for seq in array['raw_data']:
    length = len(seq)
    print(f"Length of sequence: {length}")
    break

(1444800, 8)
Length of sequence: 8

In [8]:
#================================#
# SPLIT INTO TIMESERIES BATCHES  #
#================================#
#
# Variable Names:
# train_dataset
# test_dataset
#

# split into timeseries batches for train, test
# using keras timeseries_dataset_from_array

sequence_length = 100 # 100ms windows
sampling_rate = 1 # sampling rate within a sequence
sequence_stride = 50 # how much to shift window by
delay = sequence_length # target is N+delay

train_dataset = {}
test_dataset = {}

for key, array in train_data_scaled_padded.items():
    
    train_dataset[key] = keras.utils.timeseries_dataset_from_array(
        data=array['raw_data'],
        targets= array['affect'],
        sequence_length=sequence_length,
        sequence_stride=sequence_stride,
        sampling_rate=sampling_rate,
        batch_size=2600, # number of sequences per batch,
        shuffle=False,
        )
    
    
    
for key, array in test_data_scaled_padded.items():
    
    test_dataset[key] = keras.utils.timeseries_dataset_from_array(
        data=array['raw_data'],
        targets=None, # set to none to generate input sequences only
        sequence_length=sequence_length,
        sequence_stride=sequence_stride,
        sampling_rate=sampling_rate,
        batch_size=610, # from 10000-100 to 40000, every 50
        shuffle=False,
        )

2023-05-01 12:47:07.018125: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1635] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 30924 MB memory:  -> device: 0, name: Tesla V100-PCIE-32GB, pci bus id: 0000:9b:00.0, compute capability: 7.0

In [9]:
print(sorted(train_dataset.keys()))

['fold_0', 'fold_1', 'fold_2', 'fold_3', 'fold_4']

In [ ]:
#========================#
# MODEL TRAINING: LSTM   #
#========================#

# for reproducibility
tf.random.set_seed(1)

# train one model per fold
for key in sorted(train_dataset.keys()):
    print(f"Training fold: {key}")
    
    # build model
    inputs = keras.Input(shape=(100, 8))
    x = layers.Masking(mask_value=0., input_shape=(100, 8))(inputs)
    x = layers.LSTM(128, recurrent_dropout=0.25)(x)
    x = layers.BatchNormalization()(x)
    outputs = layers.Dense(2, activation="linear")(x)
    model = keras.Model(inputs, outputs)
    
    model_name = f"full_model_{key}.h5"
    print(f"Training model: {model_name}")
    
    # compile
    model.compile(optimizer="rmsprop",
                  loss="mse")
    
    # train
    model.fit(train_dataset[key],
              epochs=15,
              shuffle=False,
              verbose=1,
             )
    
    # save
    model.save(model_name)
    
    # reset for next fold
    model.reset_states()
    tf.keras.backend.clear_session()

Training fold: fold_0
WARNING:tensorflow:Layer lstm_1 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Training model: full_model_fold_0.h5
Epoch 1/15

2023-05-01 10:28:12.831245: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_20' with dtype double and shape [24960000,2]
	 [[{{node Placeholder/_20}}]]
2023-05-01 10:28:12.831700: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype double and shape [24960000,8]
	 [[{{node Placeholder/_0}}]]

192/192 [==============================] - 43s 212ms/step - loss: 8.6465
Epoch 2/15
192/192 [==============================] - 40s 209ms/step - loss: 2.6893
Epoch 3/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5908
Epoch 4/15
192/192 [==============================] - 41s 212ms/step - loss: 2.5639
Epoch 5/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5501
Epoch 6/15
192/192 [==============================] - 40s 210ms/step - loss: 2.5408
Epoch 7/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5460
Epoch 8/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5286
Epoch 9/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5221
Epoch 10/15
192/192 [==============================] - 40s 211ms/step - loss: 2.5183
Epoch 11/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5204
Epoch 12/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5136
Epoch 13/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5138
Epoch 14/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5091
Epoch 15/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5097
Training fold: fold_1
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Training model: full_model_fold_1.h5
Epoch 1/15

2023-05-01 10:38:20.287763: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_20' with dtype double and shape [24960000,2]
	 [[{{node Placeholder/_20}}]]
2023-05-01 10:38:20.288309: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_8' with dtype int32 and shape [499199]
	 [[{{node Placeholder/_8}}]]

192/192 [==============================] - 43s 208ms/step - loss: 8.3600
Epoch 2/15
192/192 [==============================] - 40s 209ms/step - loss: 2.6637
Epoch 3/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5863
Epoch 4/15
192/192 [==============================] - 41s 211ms/step - loss: 2.5643
Epoch 5/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5467
Epoch 6/15
192/192 [==============================] - 40s 210ms/step - loss: 2.5343
Epoch 7/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5386
Epoch 8/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5335
Epoch 9/15
192/192 [==============================] - 40s 206ms/step - loss: 2.5306
Epoch 10/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5339
Epoch 11/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5263
Epoch 12/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5214
Epoch 13/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5232
Epoch 14/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5193
Epoch 15/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5222
Training fold: fold_2
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Training model: full_model_fold_2.h5
Epoch 1/15

2023-05-01 10:48:27.079288: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_28' with dtype int32 and shape [499199]
	 [[{{node Placeholder/_28}}]]
2023-05-01 10:48:27.079759: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_14' with dtype int32
	 [[{{node Placeholder/_14}}]]

192/192 [==============================] - 42s 208ms/step - loss: 8.2146
Epoch 2/15
192/192 [==============================] - 40s 208ms/step - loss: 2.6793
Epoch 3/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5965
Epoch 4/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5750
Epoch 5/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5492
Epoch 6/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5348
Epoch 7/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5324
Epoch 8/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5202
Epoch 9/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5289
Epoch 10/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5142
Epoch 11/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5174
Epoch 12/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5181
Epoch 13/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5136
Epoch 14/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5087
Epoch 15/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5025
Training fold: fold_3
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Training model: full_model_fold_3.h5
Epoch 1/15

2023-05-01 10:58:30.392926: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_14' with dtype int32
	 [[{{node Placeholder/_14}}]]
2023-05-01 10:58:30.393394: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_8' with dtype int32 and shape [499199]
	 [[{{node Placeholder/_8}}]]

192/192 [==============================] - 42s 208ms/step - loss: 8.6424
Epoch 2/15
192/192 [==============================] - 40s 207ms/step - loss: 2.6954
Epoch 3/15
192/192 [==============================] - 40s 206ms/step - loss: 2.5917
Epoch 4/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5682
Epoch 5/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5493
Epoch 6/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5374
Epoch 7/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5377
Epoch 8/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5256
Epoch 9/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5212
Epoch 10/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5156
Epoch 11/15
192/192 [==============================] - 39s 205ms/step - loss: 2.5165
Epoch 12/15
192/192 [==============================] - 40s 209ms/step - loss: 2.5103
Epoch 13/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5056
Epoch 14/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5070
Epoch 15/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5022
Training fold: fold_4
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Training model: full_model_fold_4.h5
Epoch 1/15
192/192 [==============================] - 42s 205ms/step - loss: 8.1313
Epoch 2/15
192/192 [==============================] - 40s 208ms/step - loss: 2.6734
Epoch 3/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5959
Epoch 4/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5659
Epoch 5/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5674
Epoch 6/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5510
Epoch 7/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5328
Epoch 8/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5330
Epoch 9/15
192/192 [==============================] - 40s 206ms/step - loss: 2.5190
Epoch 10/15
192/192 [==============================] - 40s 207ms/step - loss: 2.5145
Epoch 11/15
192/192 [==============================] - 40s 206ms/step - loss: 2.5143
Epoch 12/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5104
Epoch 13/15
192/192 [==============================] - 40s 208ms/step - loss: 2.5134
Epoch 14/15
192/192 [==============================] - 40s 206ms/step - loss: 2.5082
Epoch 15/15
143/192 [=====================>........] - ETA: 10s - loss: 2.6759

In [12]:
# # reset
# model.reset_states()
# tf.keras.backend.clear_session()

In [10]:
# Define a dictionary to store predictions
all_preds = {}

# Loop through each model
for i in range(5):
    # Load the model
    model = keras.models.load_model(f'full_model_fold_{i}.h5')
    # Get predictions for the test data using the loaded model
    preds = model.predict(test_dataset[f'fold_{i}'])
    # Add the predictions to the dictionary with the key 'fold_i'
    all_preds[f'fold_{i}'] = preds

WARNING:tensorflow:Layer lstm_1 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

2023-05-01 12:48:00.516774: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_13' with dtype int32
	 [[{{node Placeholder/_13}}]]
2023-05-01 12:48:00.517159: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_14' with dtype int32
	 [[{{node Placeholder/_14}}]]

48/48 [==============================] - 2s 29ms/step
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

2023-05-01 12:48:03.077954: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype double and shape [1444800,8]
	 [[{{node Placeholder/_0}}]]
2023-05-01 12:48:03.078347: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype double and shape [1444800,8]
	 [[{{node Placeholder/_0}}]]

48/48 [==============================] - 2s 30ms/step
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

2023-05-01 12:48:04.993863: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_13' with dtype int32
	 [[{{node Placeholder/_13}}]]
2023-05-01 12:48:04.994255: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype double and shape [1444800,8]
	 [[{{node Placeholder/_0}}]]

48/48 [==============================] - 2s 28ms/step
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

2023-05-01 12:48:06.849723: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_8' with dtype int32 and shape [28895]
	 [[{{node Placeholder/_8}}]]
2023-05-01 12:48:06.850168: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype double and shape [1444800,8]
	 [[{{node Placeholder/_0}}]]

48/48 [==============================] - 2s 29ms/step
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

2023-05-01 12:48:08.760272: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_8' with dtype int32 and shape [28895]
	 [[{{node Placeholder/_8}}]]
2023-05-01 12:48:08.760656: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype double and shape [1444800,8]
	 [[{{node Placeholder/_0}}]]

48/48 [==============================] - 2s 28ms/step

In [12]:
# generate and save predictions as csv files

num_iterations = 48 # 48 test files
num_preds = 601 # number of predictions per file

# loop through each fold
for key, preds in sorted(all_preds.items()):
    print(key)
    print(len(preds))
    
    # save predictions
    valence = all_preds[key][:, 0:1]
    arousal = all_preds[key][:, 1:2]
    print(len(valence))
    
    # set directory file path
    directory = f"results/scenario_2/{key}/test/annotations/"
    
    # create directory if not exist
    if not os.path.exists(directory):
        os.makedirs(directory)
    
    # loop through each test file and save
    for i in range(num_iterations):
        
        print(i)
        # get file name and set file path
        f = test_data[key][test_data[key]['time'] == 10000]['subject'].iloc[i]
        file_name = f"{f}"
        file_path = os.path.join(directory, file_name)
        
        # create time column
        df = pd.DataFrame({'time': np.arange(10000, 40000+1, 50)})
        
        start_index = (num_preds)*i
        end_index = (num_preds)*(i+1)
        
        # add in predictions
        df['valence'] = valence[start_index:end_index]
        df['arousal'] = arousal[start_index:end_index]
        
        display(df)
        
        # save df as csv
        df.to_csv(file_path, index=False)
        print(f"Saved: {file_path}")

fold_0
28895
28895
0

      time   valence   arousal
0    10000  1.534052  5.516122
1    10050  1.597782  5.507380
2    10100  1.520825  5.373878
3    10150  1.609758  5.363724
4    10200  1.632263  5.415440
..     ...       ...       ...
596  39800  1.443349  5.689013
597  39850  1.455302  5.622540
598  39900  1.515232  5.652035
599  39950  1.464222  5.543329
600  40000  1.455659  5.558833

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_12_vid_0.csv
1

      time   valence   arousal
0    10000  1.124032  5.641898
1    10050  1.170930  5.616934
2    10100  1.204584  5.638043
3    10150  1.203095  5.628001
4    10200  1.170762  5.626008
..     ...       ...       ...
596  39800  1.266243  5.536883
597  39850  1.280156  5.524142
598  39900  1.282561  5.503981
599  39950  1.299027  5.495501
600  40000  1.270970  5.489399

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_12_vid_10.csv
2

      time   valence   arousal
0    10000  1.370520  5.535396
1    10050  2.279678  4.886522
2    10100  1.204362  5.370360
3    10150  1.296316  5.712097
4    10200  4.229991  5.794842
..     ...       ...       ...
596  39800  1.402546  5.503732
597  39850  1.396114  5.490371
598  39900  1.399319  5.496960
599  39950  1.433028  5.491508
600  40000  1.462562  5.520780

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_12_vid_11.csv
3

      time   valence   arousal
0    10000  1.431292  5.505460
1    10050  1.443345  5.532647
2    10100  1.382201  5.281177
3    10150  1.344184  5.284242
4    10200  1.318756  5.320320
..     ...       ...       ...
596  39800  2.518777  6.660431
597  39850  2.512810  6.489025
598  39900  2.570836  6.481609
599  39950  2.382830  6.249380
600  40000  2.346947  6.173939

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_12_vid_13.csv
4

      time   valence   arousal
0    10000  2.337531  6.579840
1    10050  2.612357  6.146657
2    10100  2.611767  6.433423
3    10150  1.489180  5.534332
4    10200  1.515058  5.648222
..     ...       ...       ...
596  39800  1.378584  5.724720
597  39850  1.379911  5.691803
598  39900  1.387032  5.659781
599  39950  1.397875  5.640574
600  40000  1.400314  5.633900

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_12_vid_14.csv
5

      time   valence   arousal
0    10000  1.395479  5.626843
1    10050  1.392717  5.603976
2    10100  1.406826  5.594387
3    10150  1.425677  5.592806
4    10200  1.520933  5.685847
..     ...       ...       ...
596  39800  1.298827  5.811047
597  39850  1.352450  5.819775
598  39900  1.377104  5.789603
599  39950  1.379616  5.771308
600  40000  1.407371  5.775105

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_12_vid_2.csv
6

      time   valence   arousal
0    10000  1.424392  5.767153
1    10050  1.501573  5.805574
2    10100  1.530278  5.753103
3    10150  1.467922  5.746480
4    10200  1.459731  5.739518
..     ...       ...       ...
596  39800  2.958841  7.273801
597  39850  2.813706  6.642318
598  39900  2.806087  6.558836
599  39950  1.989918  5.957017
600  40000  1.825666  6.144310

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_12_vid_20.csv
7

      time   valence   arousal
0    10000  1.836285  6.276055
1    10050  2.509453  6.780749
2    10100  2.076022  6.056782
3    10150  1.922086  6.392954
4    10200  2.076679  6.175534
..     ...       ...       ...
596  39800  2.144524  5.039670
597  39850  2.174101  5.100606
598  39900  2.127714  5.034594
599  39950  2.137227  5.025287
600  40000  2.144539  5.033275

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_12_vid_9.csv
8

      time   valence   arousal
0    10000  2.110424  4.981322
1    10050  2.171976  4.995465
2    10100  2.135303  4.966581
3    10150  2.133968  4.967124
4    10200  2.092536  4.964565
..     ...       ...       ...
596  39800  2.449782  6.090774
597  39850  2.434861  6.074299
598  39900  2.468984  6.129308
599  39950  2.406106  6.192705
600  40000  2.420629  6.145909

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_14_vid_0.csv
9

      time   valence   arousal
0    10000  2.422771  6.162244
1    10050  2.390489  6.132191
2    10100  2.485483  6.143529
3    10150  2.399695  6.130841
4    10200  2.391456  6.130433
..     ...       ...       ...
596  39800  2.542108  5.780549
597  39850  2.533024  5.779191
598  39900  2.550439  5.771875
599  39950  2.532027  5.750764
600  40000  2.525633  5.725667

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_14_vid_10.csv
10

      time   valence   arousal
0    10000  2.536428  5.740517
1    10050  2.531780  5.741840
2    10100  2.511957  5.709582
3    10150  2.550352  5.708265
4    10200  2.523728  5.732976
..     ...       ...       ...
596  39800  2.829458  4.957109
597  39850  2.873905  4.984393
598  39900  2.878960  4.979311
599  39950  2.866745  4.974020
600  40000  2.834490  4.970591

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_14_vid_11.csv
11

      time   valence   arousal
0    10000  2.840654  4.971286
1    10050  2.841106  4.966766
2    10100  2.825692  4.969157
3    10150  2.811100  4.986467
4    10200  2.833467  4.985943
..     ...       ...       ...
596  39800  3.429391  4.024781
597  39850  3.464334  4.037220
598  39900  3.487889  4.076746
599  39950  3.425157  4.038800
600  40000  3.578571  4.106643

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_14_vid_13.csv
12

      time   valence   arousal
0    10000  3.517983  4.096596
1    10050  3.525616  4.114471
2    10100  3.511914  4.150213
3    10150  3.521533  4.143477
4    10200  3.556676  4.173616
..     ...       ...       ...
596  39800  3.233031  4.403352
597  39850  3.162619  4.347426
598  39900  3.266005  4.395322
599  39950  3.260885  4.407256
600  40000  3.226868  4.370744

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_14_vid_14.csv
13

      time   valence   arousal
0    10000  3.233498  4.365016
1    10050  3.208803  4.352911
2    10100  3.281289  4.404399
3    10150  3.280051  4.419064
4    10200  3.269783  4.420791
..     ...       ...       ...
596  39800  3.281130  4.365891
597  39850  3.279182  4.367404
598  39900  3.253193  4.341695
599  39950  3.244188  4.348721
600  40000  3.215030  4.327798

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_14_vid_2.csv
14

      time   valence   arousal
0    10000  3.221928  4.342707
1    10050  3.217134  4.339358
2    10100  3.159263  4.291737
3    10150  3.272591  4.353531
4    10200  3.216170  4.315983
..     ...       ...       ...
596  39800  3.090092  4.531948
597  39850  3.168888  4.601959
598  39900  3.188975  4.602394
599  39950  3.176305  4.576689
600  40000  3.156412  4.567785

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_14_vid_20.csv
15

      time   valence   arousal
0    10000  3.162857  4.584793
1    10050  3.163183  4.588720
2    10100  3.174816  4.569144
3    10150  3.155785  4.563114
4    10200  3.163184  4.553998
..     ...       ...       ...
596  39800  2.561513  5.524805
597  39850  2.538395  5.523273
598  39900  2.551056  5.518476
599  39950  2.527454  5.529681
600  40000  2.538833  5.558568

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_14_vid_9.csv
16

      time   valence   arousal
0    10000  2.533591  5.571912
1    10050  2.582891  5.543649
2    10100  2.587992  5.531177
3    10150  2.566700  5.523624
4    10200  2.551465  5.532925
..     ...       ...       ...
596  39800  2.664679  3.940536
597  39850  2.988008  4.406380
598  39900  2.888843  4.365082
599  39950  2.655128  4.044982
600  40000  3.048013  4.529139

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_19_vid_0.csv
17

      time   valence   arousal
0    10000  2.692821  4.041121
1    10050  2.967390  4.439723
2    10100  2.781024  4.169888
3    10150  2.815112  4.287372
4    10200  2.821937  4.233603
..     ...       ...       ...
596  39800  4.248460  3.546250
597  39850  4.044230  3.345357
598  39900  4.063079  3.419601
599  39950  4.069508  3.413651
600  40000  4.083884  3.363855

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_19_vid_10.csv
18

      time   valence   arousal
0    10000  4.068494  3.431019
1    10050  4.078006  3.390287
2    10100  4.104997  3.296034
3    10150  4.055411  3.325005
4    10200  4.078984  3.401195
..     ...       ...       ...
596  39800  4.475836  3.397873
597  39850  4.478757  3.459728
598  39900  4.466306  3.377348
599  39950  4.450713  3.301499
600  40000  4.429858  3.157699

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_19_vid_11.csv
19

      time   valence   arousal
0    10000  4.615427  3.312759
1    10050  4.528320  3.299577
2    10100  4.610994  3.519645
3    10150  4.499738  3.471979
4    10200  4.435146  3.235575
..     ...       ...       ...
596  39800  6.794290  4.077355
597  39850  6.227362  3.884181
598  39900  6.044147  5.776125
599  39950  5.179150  3.726876
600  40000  5.929613  3.980775

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_19_vid_13.csv
20

      time   valence   arousal
0    10000  5.167663  5.119259
1    10050  5.865137  3.927273
2    10100  5.992587  4.062216
3    10150  6.125161  4.096335
4    10200  5.882416  3.857855
..     ...       ...       ...
596  39800  3.744365  3.451267
597  39850  3.873435  3.647431
598  39900  3.668508  3.462863
599  39950  3.691999  3.389069
600  40000  3.653421  3.374021

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_19_vid_14.csv
21

      time   valence   arousal
0    10000  3.719670  3.411539
1    10050  3.710464  3.431664
2    10100  3.696425  3.472048
3    10150  3.703726  3.482519
4    10200  3.698143  3.436641
..     ...       ...       ...
596  39800  4.617721  3.880367
597  39850  4.681945  3.960924
598  39900  4.481269  3.781357
599  39950  4.373271  3.727909
600  40000  4.415190  3.625047

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_19_vid_2.csv
22

      time   valence   arousal
0    10000  4.392675  3.513050
1    10050  5.626823  4.318213
2    10100  4.682322  3.938453
3    10150  4.343971  3.707856
4    10200  4.406593  3.698544
..     ...       ...       ...
596  39800  6.126831  3.773602
597  39850  5.535417  3.774644
598  39900  5.648459  3.682656
599  39950  6.225586  3.847931
600  40000  6.304717  3.778377

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_19_vid_20.csv
23

      time   valence   arousal
0    10000  6.749187  3.967228
1    10050  5.669425  3.673463
2    10100  5.877933  3.667854
3    10150  6.055718  3.767186
4    10200  5.806864  3.595127
..     ...       ...       ...
596  39800  4.199646  3.603829
597  39850  4.154564  3.564712
598  39900  4.065077  3.535329
599  39950  4.059798  3.461367
600  40000  4.121439  3.518950

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_19_vid_9.csv
24

      time   valence   arousal
0    10000  4.112101  3.555095
1    10050  4.120384  3.568264
2    10100  4.080436  3.537044
3    10150  4.196454  3.635435
4    10200  4.067846  3.499536
..     ...       ...       ...
596  39800  1.610806  5.599645
597  39850  1.654794  5.568491
598  39900  1.650448  5.551096
599  39950  1.679119  5.476844
600  40000  1.718049  5.514095

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_23_vid_0.csv
25

      time   valence   arousal
0    10000  1.661173  5.363178
1    10050  1.699553  5.451041
2    10100  1.740588  5.426135
3    10150  1.709572  5.454668
4    10200  1.662350  5.555076
..     ...       ...       ...
596  39800  1.481735  5.865959
597  39850  1.480355  5.860285
598  39900  1.480900  5.848402
599  39950  1.535441  5.804025
600  40000  1.534578  5.817298

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_23_vid_10.csv
26

      time   valence   arousal
0    10000  1.493824  5.784756
1    10050  1.530824  5.807362
2    10100  1.583246  5.760156
3    10150  1.587977  5.761471
4    10200  1.593709  5.781916
..     ...       ...       ...
596  39800  1.304165  5.742158
597  39850  1.316026  5.766107
598  39900  1.322161  5.706559
599  39950  1.353269  5.722787
600  40000  1.377417  5.698953

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_23_vid_11.csv
27

      time   valence   arousal
0    10000  1.386176  5.691037
1    10050  1.393063  5.708021
2    10100  1.290993  5.827320
3    10150  1.230180  5.875850
4    10200  1.256695  5.849589
..     ...       ...       ...
596  39800  1.950375  5.219575
597  39850  1.954228  5.220881
598  39900  1.930759  5.211123
599  39950  1.955218  5.206413
600  40000  1.925532  5.166995

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_23_vid_13.csv
28

      time   valence   arousal
0    10000  1.924028  5.171484
1    10050  1.937876  5.171185
2    10100  1.935384  5.181922
3    10150  1.942068  5.181591
4    10200  1.936450  5.162802
..     ...       ...       ...
596  39800  1.460289  5.746061
597  39850  1.481167  5.739000
598  39900  1.486228  5.759802
599  39950  1.396741  5.826375
600  40000  1.351626  5.842505

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_23_vid_14.csv
29

      time   valence   arousal
0    10000  1.408350  5.850447
1    10050  1.362639  5.805299
2    10100  1.367225  5.782205
3    10150  1.374118  5.790071
4    10200  1.387851  5.801867
..     ...       ...       ...
596  39800  1.362586  5.634654
597  39850  1.371462  5.567877
598  39900  1.358343  5.535333
599  39950  1.399869  5.574704
600  40000  1.361712  5.439749

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_23_vid_2.csv
30

      time   valence   arousal
0    10000  1.383931  5.458502
1    10050  1.400690  5.456996
2    10100  1.403565  5.480716
3    10150  1.319155  5.584215
4    10200  1.244002  5.691827
..     ...       ...       ...
596  39800  1.637677  5.975908
597  39850  1.607001  5.845006
598  39900  1.589848  5.780774
599  39950  1.583974  5.930851
600  40000  1.572976  5.979423

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_23_vid_20.csv
31

      time   valence   arousal
0    10000  1.487558  5.767259
1    10050  1.569430  5.911811
2    10100  1.584226  5.910874
3    10150  1.499627  5.696692
4    10200  1.521552  5.767683
..     ...       ...       ...
596  39800  1.603098  5.513896
597  39850  1.625258  5.507828
598  39900  1.593745  5.499264
599  39950  1.591412  5.544598
600  40000  1.559049  5.544776

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_23_vid_9.csv
32

      time   valence   arousal
0    10000  1.591894  5.560421
1    10050  1.610662  5.548630
2    10100  1.601884  5.531249
3    10150  1.578642  5.536029
4    10200  1.572938  5.526838
..     ...       ...       ...
596  39800  1.855928  3.624039
597  39850  1.786638  3.583290
598  39900  1.791948  3.565268
599  39950  1.791069  3.550630
600  40000  1.777418  3.551841

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_3_vid_0.csv
33

      time   valence   arousal
0    10000  1.811743  3.588538
1    10050  1.829217  3.592602
2    10100  1.827218  3.565289
3    10150  1.819089  3.558153
4    10200  1.802417  3.548811
..     ...       ...       ...
596  39800  2.570927  2.538376
597  39850  2.566010  2.534196
598  39900  2.558829  2.528688
599  39950  2.548629  2.516993
600  40000  2.553685  2.533727

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_3_vid_10.csv
34

      time   valence   arousal
0    10000  2.523659  2.524266
1    10050  2.620002  2.594211
2    10100  2.574253  2.580257
3    10150  2.551362  2.535160
4    10200  2.531702  2.522979
..     ...       ...       ...
596  39800  2.995794  2.201415
597  39850  3.071309  2.179563
598  39900  3.139679  2.225159
599  39950  3.099559  2.221391
600  40000  3.072025  2.185440

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_3_vid_11.csv
35

      time   valence   arousal
0    10000  3.055564  2.156287
1    10050  3.080634  2.141881
2    10100  3.071055  2.139856
3    10150  3.063039  2.144574
4    10200  3.069748  2.136554
..     ...       ...       ...
596  39800  2.880947  3.100146
597  39850  2.839219  3.068907
598  39900  2.830343  3.046132
599  39950  2.823369  3.058318
600  40000  2.819672  3.042101

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_3_vid_13.csv
36

      time   valence   arousal
0    10000  2.780235  3.037412
1    10050  2.770751  3.027388
2    10100  2.758376  3.016895
3    10150  2.835279  3.080261
4    10200  2.815953  3.079063
..     ...       ...       ...
596  39800  2.815163  2.518511
597  39850  2.887682  2.562407
598  39900  2.866506  2.557858
599  39950  2.846091  2.524601
600  40000  2.839301  2.513400

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_3_vid_14.csv
37

      time   valence   arousal
0    10000  2.826537  2.484257
1    10050  2.892347  2.469920
2    10100  2.918710  2.213199
3    10150  2.904881  2.200317
4    10200  2.887887  2.164348
..     ...       ...       ...
596  39800  2.437803  2.914161
597  39850  2.424203  2.921309
598  39900  2.414239  2.929502
599  39950  2.413110  2.935213
600  40000  2.412753  2.946494

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_3_vid_2.csv
38

      time   valence   arousal
0    10000  2.390182  2.947707
1    10050  2.395605  2.947422
2    10100  2.356611  2.917229
3    10150  2.502339  3.043993
4    10200  2.427128  2.985585
..     ...       ...       ...
596  39800  3.387611  1.944354
597  39850  3.365964  1.924201
598  39900  3.343542  1.911677
599  39950  3.337639  1.895392
600  40000  3.346838  1.892136

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_3_vid_20.csv
39

      time   valence   arousal
0    10000  3.321291  1.915254
1    10050  3.324466  1.908240
2    10100  3.328414  1.897143
3    10150  3.300905  1.895367
4    10200  3.303012  1.901171
..     ...       ...       ...
596  39800  3.246707  1.907310
597  39850  3.251985  1.880841
598  39900  3.328575  1.906354
599  39950  3.388914  1.970008
600  40000  3.360027  1.968824

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_3_vid_9.csv
40

      time   valence   arousal
0    10000  3.330345  1.930000
1    10050  3.302526  1.898891
2    10100  3.315294  1.878250
3    10150  3.319502  1.871351
4    10200  3.302854  1.880779
..     ...       ...       ...
596  39800  2.219429  5.679036
597  39850  2.221189  5.674195
598  39900  2.236844  5.662983
599  39950  2.229016  5.663210
600  40000  2.239386  5.626091

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_44_vid_0.csv
41

      time   valence   arousal
0    10000  2.258326  5.630608
1    10050  2.268428  5.597670
2    10100  2.272299  5.601247
3    10150  2.266868  5.589365
4    10200  2.264268  5.603182
..     ...       ...       ...
596  39800  3.121439  4.041193
597  39850  3.108067  4.075477
598  39900  3.170590  4.128126
599  39950  3.123305  4.128466
600  40000  3.214587  4.190631

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_44_vid_10.csv
42

      time   valence   arousal
0    10000  3.115345  4.077156
1    10050  3.018819  3.978091
2    10100  3.017972  3.979145
3    10150  3.020859  3.962267
4    10200  3.059542  4.050152
..     ...       ...       ...
596  39800  2.651115  4.605635
597  39850  2.695608  4.615207
598  39900  2.730863  4.620553
599  39950  2.635773  4.584590
600  40000  2.639626  4.592712

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_44_vid_11.csv
43

      time   valence   arousal
0    10000  2.647623  4.579331
1    10050  2.625841  4.590144
2    10100  2.694020  4.629730
3    10150  2.665653  4.648499
4    10200  2.669879  4.621752
..     ...       ...       ...
596  39800  2.453447  4.925246
597  39850  2.459285  4.904656
598  39900  2.454994  4.897696
599  39950  2.473382  4.878992
600  40000  2.468614  4.892067

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_44_vid_13.csv
44

      time   valence   arousal
0    10000  2.461692  4.904146
1    10050  2.455626  4.876165
2    10100  2.476887  4.879906
3    10150  2.491510  4.860927
4    10200  2.488046  4.860693
..     ...       ...       ...
596  39800  2.424072  4.887086
597  39850  2.421246  4.867181
598  39900  2.406933  4.862062
599  39950  2.402684  4.850635
600  40000  2.390162  4.866887

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_44_vid_14.csv
45

      time   valence   arousal
0    10000  2.414803  4.874754
1    10050  2.438246  4.857819
2    10100  2.410839  4.852534
3    10150  2.429736  4.865672
4    10200  2.438527  4.890343
..     ...       ...       ...
596  39800  2.230311  5.345006
597  39850  2.223733  5.326069
598  39900  2.214128  5.339301
599  39950  2.232850  5.339320
600  40000  2.212460  5.357445

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_44_vid_2.csv
46

      time   valence   arousal
0    10000  2.212854  5.348354
1    10050  2.297709  5.396052
2    10100  2.275429  5.374341
3    10150  2.219053  5.346583
4    10200  2.198487  5.341579
..     ...       ...       ...
596  39800  2.682399  5.097826
597  39850  2.591357  5.081673
598  39900  2.729978  5.004920
599  39950  2.790822  5.016448
600  40000  2.536953  5.176625

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_44_vid_20.csv
47

      time   valence   arousal
0    10000  2.766586  4.966733
1    10050  2.774702  5.004010
2    10100  2.618267  5.103844
3    10150  2.617063  5.040982
4    10200  2.584476  5.236008
..     ...       ...       ...
596  39800  2.334776  5.371934
597  39850  2.342649  5.374931
598  39900  2.257929  5.449953
599  39950  2.255790  5.486681
600  40000  2.265489  5.467859

[601 rows x 3 columns]

Saved: results/scenario_2/fold_0/test/annotations/sub_44_vid_9.csv
fold_1
28895
28895
0

      time   valence   arousal
0    10000  0.543608  4.420582
1    10050  0.551102  4.422576
2    10100  0.631745  4.468610
3    10150  0.602881  4.462211
4    10200  0.600891  4.459800
..     ...       ...       ...
596  39800  0.568913  4.283842
597  39850  0.529782  4.249672
598  39900  0.501996  4.261784
599  39950  0.541748  4.349750
600  40000  0.502840  4.286134

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_11_vid_0.csv
1

      time   valence   arousal
0    10000  0.140062  3.495376
1    10050  0.147546  3.471041
2    10100  0.203024  3.506869
3    10150  0.201656  3.501894
4    10200  0.166182  3.512460
..     ...       ...       ...
596  39800  0.219408  3.403688
597  39850  0.234244  3.389749
598  39900  0.213162  3.385957
599  39950  0.243017  3.386733
600  40000  0.207542  3.386383

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_11_vid_10.csv
2

      time   valence   arousal
0    10000  0.227717  3.435089
1    10050  1.033219  4.280688
2    10100  0.391114  3.799972
3    10150  0.275811  3.576079
4    10200  2.668786  3.420721
..     ...       ...       ...
596  39800  0.336911  3.329495
597  39850  0.320838  3.317154
598  39900  0.289131  3.332405
599  39950  0.313488  3.370229
600  40000  0.283709  3.397871

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_11_vid_11.csv
3

      time   valence   arousal
0    10000  0.334275  3.360029
1    10050  0.362181  3.384545
2    10100  0.271629  3.009270
3    10150  0.245771  3.042148
4    10200  0.252912  3.089519
..     ...       ...       ...
596  39800  2.251692  3.856826
597  39850  2.412625  4.414617
598  39900  2.361776  4.178044
599  39950  2.145484  4.386322
600  40000  2.112955  4.289438

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_11_vid_13.csv
4

      time   valence   arousal
0    10000  1.958279  3.618268
1    10050  1.857111  4.690354
2    10100  2.259812  4.067851
3    10150  0.530126  3.847158
4    10200  0.433479  3.674375
..     ...       ...       ...
596  39800  0.317288  3.538712
597  39850  0.313638  3.508191
598  39900  0.318716  3.483967
599  39950  0.341186  3.486189
600  40000  0.355290  3.481146

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_11_vid_14.csv
5

      time   valence   arousal
0    10000  0.346585  3.485186
1    10050  0.329118  3.462465
2    10100  0.340134  3.456135
3    10150  0.343926  3.465679
4    10200  0.379309  3.604530
..     ...       ...       ...
596  39800  0.239244  3.786541
597  39850  0.312451  3.792424
598  39900  0.323930  3.774310
599  39950  0.310769  3.766435
600  40000  0.367571  3.790078

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_11_vid_2.csv
6

      time   valence   arousal
0    10000  0.383612  3.786529
1    10050  0.345392  3.807733
2    10100  0.403960  3.908850
3    10150  0.383934  3.844352
4    10200  0.389311  3.808212
..     ...       ...       ...
596  39800  2.606972  4.117178
597  39850  2.614616  4.128879
598  39900  2.649347  4.418572
599  39950  1.912737  4.959990
600  40000  2.455498  4.616284

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_11_vid_20.csv
7

      time   valence   arousal
0    10000  2.548750  4.094418
1    10050  2.547739  4.054750
2    10100  2.288012  4.948780
3    10150  2.608975  4.275504
4    10200  2.195462  5.078665
..     ...       ...       ...
596  39800  0.664081  2.833330
597  39850  0.441972  2.872280
598  39900  0.627976  2.853459
599  39950  0.674653  2.873457
600  40000  0.759575  2.893448

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_11_vid_9.csv
8

      time   valence   arousal
0    10000  0.694674  2.833907
1    10050  0.775151  2.792432
2    10100  0.702573  2.746326
3    10150  0.769178  2.760540
4    10200  0.693510  2.763012
..     ...       ...       ...
596  39800  1.899563  5.299027
597  39850  1.890891  5.247125
598  39900  1.921868  5.378943
599  39950  1.922193  5.437294
600  40000  1.938191  5.327242

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_17_vid_0.csv
9

      time   valence   arousal
0    10000  1.946009  5.390609
1    10050  1.876704  5.263351
2    10100  2.003319  5.418244
3    10150  1.881619  5.310648
4    10200  1.915125  5.303276
..     ...       ...       ...
596  39800  2.041770  4.647457
597  39850  1.999510  4.690487
598  39900  2.034536  4.655805
599  39950  1.971018  4.702229
600  40000  1.961905  4.625987

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_17_vid_10.csv
10

      time   valence   arousal
0    10000  2.030017  4.634651
1    10050  2.038871  4.641894
2    10100  1.883971  4.603043
3    10150  1.866165  4.723750
4    10200  1.998670  4.662360
..     ...       ...       ...
596  39800  1.878191  3.796644
597  39850  1.938838  3.803637
598  39900  1.971897  3.793579
599  39950  1.982355  3.779316
600  40000  1.896268  3.811224

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_17_vid_11.csv
11

      time   valence   arousal
0    10000  1.947279  3.775009
1    10050  1.952403  3.753425
2    10100  1.915545  3.771530
3    10150  1.916015  3.800275
4    10200  1.941101  3.778514
..     ...       ...       ...
596  39800  2.381346  2.879067
597  39850  2.435160  2.888254
598  39900  2.514137  2.941650
599  39950  2.375550  2.875796
600  40000  2.499895  3.025131

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_17_vid_13.csv
12

      time   valence   arousal
0    10000  2.541645  2.978134
1    10050  2.710976  3.020069
2    10100  2.703267  3.030357
3    10150  2.515578  2.958790
4    10200  2.654177  2.992585
..     ...       ...       ...
596  39800  2.214635  3.283676
597  39850  2.129516  3.182185
598  39900  2.180191  3.313379
599  39950  2.217441  3.347903
600  40000  2.191953  3.261336

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_17_vid_14.csv
13

      time   valence   arousal
0    10000  2.206406  3.270409
1    10050  2.204771  3.229128
2    10100  2.210492  3.284364
3    10150  2.202936  3.253303
4    10200  2.224590  3.276346
..     ...       ...       ...
596  39800  2.318048  3.160902
597  39850  2.326055  3.172879
598  39900  2.276615  3.147945
599  39950  2.290189  3.171096
600  40000  2.243869  3.144459

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_17_vid_2.csv
14

      time   valence   arousal
0    10000  2.279933  3.173384
1    10050  2.268530  3.183965
2    10100  2.131974  3.124167
3    10150  2.187205  3.274416
4    10200  2.210088  3.174412
..     ...       ...       ...
596  39800  2.195476  3.393174
597  39850  2.293679  3.423933
598  39900  2.274534  3.398621
599  39950  2.285986  3.394190
600  40000  2.255108  3.405101

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_17_vid_20.csv
15

      time   valence   arousal
0    10000  2.316627  3.439210
1    10050  2.278356  3.434178
2    10100  2.276780  3.389750
3    10150  2.250777  3.404289
4    10200  2.312467  3.405708
..     ...       ...       ...
596  39800  1.734778  4.482203
597  39850  1.827335  4.419337
598  39900  1.745826  4.434634
599  39950  1.717813  4.436965
600  40000  1.750476  4.463246

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_17_vid_9.csv
16

      time   valence   arousal
0    10000  1.766834  4.453745
1    10050  1.748343  4.487532
2    10100  1.772482  4.497514
3    10150  1.792075  4.474234
4    10200  1.696191  4.522365
..     ...       ...       ...
596  39800  1.475398  2.995697
597  39850  2.326958  3.717507
598  39900  2.230166  3.615660
599  39950  1.859514  3.350351
600  40000  2.752308  3.914959

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_1_vid_0.csv
17

      time   valence   arousal
0    10000  1.859847  3.311469
1    10050  2.718400  3.911982
2    10100  2.086332  3.492309
3    10150  2.228893  3.573359
4    10200  2.163286  3.553362
..     ...       ...       ...
596  39800  3.084953  2.118819
597  39850  2.694235  1.728984
598  39900  2.694020  1.783952
599  39950  2.673942  1.739356
600  40000  2.671174  1.603693

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_1_vid_10.csv
18

      time   valence   arousal
0    10000  2.649687  1.618146
1    10050  2.665094  1.597490
2    10100  2.683707  1.521366
3    10150  2.614562  1.574067
4    10200  2.664521  1.683441
..     ...       ...       ...
596  39800  2.974295  1.736541
597  39850  2.964654  1.758003
598  39900  2.945247  1.706773
599  39950  2.996186  1.656530
600  40000  2.996631  1.557058

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_1_vid_11.csv
19

      time   valence   arousal
0    10000  3.275199  2.052492
1    10050  3.176967  1.921078
2    10100  3.088460  2.062448
3    10150  3.010565  1.844768
4    10200  2.967721  1.536083
..     ...       ...       ...
596  39800  5.497824  3.392578
597  39850  5.182336  3.177481
598  39900  6.134350  4.596908
599  39950  4.544755  2.799008
600  40000  4.961148  3.301503

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_1_vid_13.csv
20

      time   valence   arousal
0    10000  4.865893  3.399465
1    10050  5.004018  3.241608
2    10100  5.021746  3.337003
3    10150  5.090971  3.394542
4    10200  4.995542  3.244704
..     ...       ...       ...
596  39800  2.376439  1.864401
597  39850  2.683317  2.138907
598  39900  2.404688  1.970581
599  39950  2.342838  1.758872
600  40000  2.219892  1.694396

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_1_vid_14.csv
21

      time   valence   arousal
0    10000  2.327922  1.820911
1    10050  2.262831  1.694618
2    10100  2.234856  1.738378
3    10150  2.260534  1.784605
4    10200  2.249187  1.702994
..     ...       ...       ...
596  39800  3.061419  2.235018
597  39850  3.108792  2.339989
598  39900  3.100052  2.221299
599  39950  3.020455  2.087553
600  40000  3.056419  2.018781

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_1_vid_2.csv
22

      time   valence   arousal
0    10000  3.004518  1.877222
1    10050  3.780802  3.046820
2    10100  3.273396  2.654242
3    10150  3.097336  2.253293
4    10200  3.070725  2.118760
..     ...       ...       ...
596  39800  5.230712  3.266902
597  39850  4.493993  2.598367
598  39900  4.862594  3.008561
599  39950  5.235896  3.255209
600  40000  5.281378  3.239070

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_1_vid_20.csv
23

      time   valence   arousal
0    10000  5.626544  3.442693
1    10050  4.696711  2.637661
2    10100  4.986806  2.994216
3    10150  5.095285  3.206451
4    10200  4.886599  3.027587
..     ...       ...       ...
596  39800  2.879531  2.055562
597  39850  2.919739  2.014292
598  39900  2.736885  1.896149
599  39950  2.698623  1.661393
600  40000  2.746664  1.855509

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_1_vid_9.csv
24

      time   valence   arousal
0    10000  2.743625  1.837598
1    10050  2.778247  1.880183
2    10100  2.743927  1.811160
3    10150  2.825434  2.035329
4    10200  2.705492  1.759225
..     ...       ...       ...
596  39800  0.484479  4.553894
597  39850  0.492561  4.552987
598  39900  0.466291  4.565580
599  39950  0.508446  4.530152
600  40000  0.537319  4.554419

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_26_vid_0.csv
25

      time   valence   arousal
0    10000  0.604751  4.588835
1    10050  0.524674  4.590103
2    10100  0.567450  4.568026
3    10150  0.572467  4.553356
4    10200  0.525762  4.576269
..     ...       ...       ...
596  39800  0.348461  4.330124
597  39850  0.311585  4.339274
598  39900  0.283800  4.346646
599  39950  0.383170  4.299144
600  40000  0.359994  4.330554

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_26_vid_10.csv
26

      time   valence   arousal
0    10000  0.317129  4.408044
1    10050  0.328493  4.367388
2    10100  0.426528  4.323188
3    10150  0.416313  4.312405
4    10200  0.428272  4.319918
..     ...       ...       ...
596  39800  0.172178  4.067738
597  39850  0.166314  4.085756
598  39900  0.220154  4.139360
599  39950  0.205658  4.105576
600  40000  0.258075  4.067601

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_26_vid_11.csv
27

      time   valence   arousal
0    10000  0.207367  4.067200
1    10050  0.231916  4.061749
2    10100  0.169060  4.089473
3    10150  0.126258  4.112234
4    10200  0.138477  4.093255
..     ...       ...       ...
596  39800  0.780747  3.008262
597  39850  0.790053  3.010669
598  39900  0.754488  2.985882
599  39950  0.810564  3.022174
600  40000  0.734156  2.956024

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_26_vid_13.csv
28

      time   valence   arousal
0    10000  0.743544  2.977736
1    10050  0.767241  2.978165
2    10100  0.759288  2.988707
3    10150  0.763806  2.971230
4    10200  0.731627  2.960499
..     ...       ...       ...
596  39800  0.318212  3.753811
597  39850  0.344471  3.739790
598  39900  0.387950  3.743438
599  39950  0.305938  3.803660
600  40000  0.261201  3.799732

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_26_vid_14.csv
29

      time   valence   arousal
0    10000  0.352769  3.778794
1    10050  0.273531  3.761031
2    10100  0.260516  3.743492
3    10150  0.286369  3.754376
4    10200  0.317483  3.758775
..     ...       ...       ...
596  39800  0.360372  4.076369
597  39850  0.368326  4.057144
598  39900  0.340958  4.042765
599  39950  0.344299  4.058581
600  40000  0.394034  4.077592

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_26_vid_2.csv
30

      time   valence   arousal
0    10000  0.363156  4.036471
1    10050  0.361637  4.018826
2    10100  0.336387  4.021852
3    10150  0.269624  4.033216
4    10200  0.226097  4.052774
..     ...       ...       ...
596  39800  1.234498  4.608191
597  39850  1.086351  4.469220
598  39900  0.984677  4.373078
599  39950  1.008192  4.452687
600  40000  0.998482  4.464779

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_26_vid_20.csv
31

      time   valence   arousal
0    10000  0.781438  4.239826
1    10050  1.021004  4.425345
2    10100  1.053122  4.454567
3    10150  0.813003  4.243962
4    10200  0.895104  4.307981
..     ...       ...       ...
596  39800  0.542760  3.395205
597  39850  0.566194  3.381163
598  39900  0.529210  3.378414
599  39950  0.536591  3.433444
600  40000  0.515168  3.402273

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_26_vid_9.csv
32

      time   valence   arousal
0    10000  0.558178  3.429270
1    10050  0.567400  3.425843
2    10100  0.549967  3.399348
3    10150  0.535226  3.395279
4    10200  0.536204  3.389801
..     ...       ...       ...
596  39800  0.563217  1.738176
597  39850  0.534199  1.664506
598  39900  0.516337  1.618996
599  39950  0.478401  1.597974
600  40000  0.433773  1.621956

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_28_vid_0.csv
33

      time   valence   arousal
0    10000  0.445284  1.662927
1    10050  0.464518  1.629626
2    10100  0.464868  1.580167
3    10150  0.490667  1.588881
4    10200  0.485421  1.602062
..     ...       ...       ...
596  39800  0.815068  1.000168
597  39850  0.806109  0.998293
598  39900  0.803379  0.989457
599  39950  0.796425  0.980430
600  40000  0.822759  1.009137

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_28_vid_10.csv
34

      time   valence   arousal
0    10000  0.797640  1.011019
1    10050  0.921300  1.139185
2    10100  0.892760  1.103326
3    10150  0.865928  1.024043
4    10200  0.814426  1.024744
..     ...       ...       ...
596  39800  1.101213  0.789049
597  39850  1.132872  0.681870
598  39900  1.186359  0.621781
599  39950  1.169892  0.601754
600  40000  1.153483  0.601541

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_28_vid_11.csv
35

      time   valence   arousal
0    10000  1.145488  0.624138
1    10050  1.171632  0.636729
2    10100  1.159048  0.634289
3    10150  1.162935  0.650703
4    10200  1.172240  0.666235
..     ...       ...       ...
596  39800  1.313608  1.593366
597  39850  1.288194  1.589545
598  39900  1.293458  1.601001
599  39950  1.286252  1.624879
600  40000  1.284681  1.610277

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_28_vid_13.csv
36

      time   valence   arousal
0    10000  1.260726  1.628922
1    10050  1.261354  1.641587
2    10100  1.251390  1.652995
3    10150  1.270044  1.723237
4    10200  1.264812  1.715527
..     ...       ...       ...
596  39800  0.999193  0.907951
597  39850  1.066288  0.977111
598  39900  1.068851  0.965602
599  39950  1.056532  0.919288
600  40000  1.027796  0.929014

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_28_vid_14.csv
37

      time   valence   arousal
0    10000  0.991945  0.927492
1    10050  1.038769  0.868868
2    10100  1.079532  0.855218
3    10150  1.077364  0.821364
4    10200  1.071241  0.819233
..     ...       ...       ...
596  39800  0.783372  1.287556
597  39850  0.781330  1.299593
598  39900  0.772622  1.307168
599  39950  0.765967  1.313331
600  40000  0.774255  1.316437

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_28_vid_2.csv
38

      time   valence   arousal
0    10000  0.756827  1.318110
1    10050  0.766094  1.318779
2    10100  0.690755  1.329720
3    10150  0.808751  1.442700
4    10200  0.800729  1.373120
..     ...       ...       ...
596  39800  1.423417  0.499310
597  39850  1.408421  0.492162
598  39900  1.400708  0.516622
599  39950  1.401716  0.519241
600  40000  1.408963  0.522707

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_28_vid_20.csv
39

      time   valence   arousal
0    10000  1.399288  0.548825
1    10050  1.402442  0.552284
2    10100  1.406330  0.561314
3    10150  1.393432  0.587405
4    10200  1.395426  0.592300
..     ...       ...       ...
596  39800  1.334105  0.645981
597  39850  1.316591  0.652635
598  39900  1.341215  0.542162
599  39950  1.392672  0.492710
600  40000  1.381919  0.477181

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_28_vid_9.csv
40

      time   valence   arousal
0    10000  1.363329  0.482011
1    10050  1.355790  0.513022
2    10100  1.367052  0.519600
3    10150  1.367022  0.514056
4    10200  1.362866  0.538584
..     ...       ...       ...
596  39800  1.724488  4.686077
597  39850  1.723699  4.698894
598  39900  1.737912  4.694375
599  39950  1.734894  4.668402
600  40000  1.740665  4.637146

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_41_vid_0.csv
41

      time   valence   arousal
0    10000  1.765476  4.660095
1    10050  1.772454  4.628228
2    10100  1.780122  4.649955
3    10150  1.766261  4.643754
4    10200  1.761435  4.654426
..     ...       ...       ...
596  39800  2.050182  2.938958
597  39850  2.066940  2.985872
598  39900  2.334774  3.121359
599  39950  2.201517  3.063426
600  40000  2.067768  3.123977

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_41_vid_10.csv
42

      time   valence   arousal
0    10000  2.011176  2.963300
1    10050  1.902042  2.891265
2    10100  1.885094  2.886008
3    10150  1.877224  2.877562
4    10200  1.902292  2.922692
..     ...       ...       ...
596  39800  1.553262  3.381287
597  39850  1.590753  3.396691
598  39900  1.606391  3.427682
599  39950  1.556538  3.379014
600  40000  1.546808  3.400748

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_41_vid_11.csv
43

      time   valence   arousal
0    10000  1.542071  3.381136
1    10050  1.517596  3.374249
2    10100  1.582295  3.363697
3    10150  1.562574  3.403011
4    10200  1.563146  3.383205
..     ...       ...       ...
596  39800  1.447939  3.608548
597  39850  1.457264  3.584744
598  39900  1.456147  3.591980
599  39950  1.471146  3.565449
600  40000  1.464856  3.586270

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_41_vid_13.csv
44

      time   valence   arousal
0    10000  1.470399  3.612269
1    10050  1.465221  3.568192
2    10100  1.497316  3.587528
3    10150  1.493091  3.562731
4    10200  1.501585  3.577973
..     ...       ...       ...
596  39800  1.375542  3.558643
597  39850  1.393767  3.544311
598  39900  1.382278  3.552658
599  39950  1.379261  3.549312
600  40000  1.360248  3.571249

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_41_vid_14.csv
45

      time   valence   arousal
0    10000  1.405333  3.559653
1    10050  1.427205  3.540325
2    10100  1.403953  3.543176
3    10150  1.439318  3.574227
4    10200  1.496781  3.615819
..     ...       ...       ...
596  39800  1.421155  4.036583
597  39850  1.439571  4.014732
598  39900  1.435651  4.029989
599  39950  1.426754  4.027547
600  40000  1.424786  4.052598

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_41_vid_2.csv
46

      time   valence   arousal
0    10000  1.411066  4.028743
1    10050  1.428490  4.131419
2    10100  1.310447  4.096859
3    10150  1.412132  4.043152
4    10200  1.392138  4.019221
..     ...       ...       ...
596  39800  2.210881  4.463997
597  39850  2.981055  4.265111
598  39900  2.426685  4.462800
599  39950  2.638588  4.520339
600  40000  3.125348  4.311482

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_41_vid_20.csv
47

      time   valence   arousal
0    10000  2.570151  4.378651
1    10050  2.495582  4.535143
2    10100  3.285201  4.104893
3    10150  3.234191  4.210842
4    10200  3.372882  3.947768
..     ...       ...       ...
596  39800  1.570386  4.178353
597  39850  1.548463  4.180024
598  39900  1.515486  4.229558
599  39950  1.534802  4.265109
600  40000  1.540148  4.243047

[601 rows x 3 columns]

Saved: results/scenario_2/fold_1/test/annotations/sub_41_vid_9.csv
fold_2
28895
28895
0

      time   valence   arousal
0    10000  4.233812  6.931668
1    10050  4.310162  7.003199
2    10100  4.260269  6.876429
3    10150  4.353974  6.952970
4    10200  4.386916  7.013362
..     ...       ...       ...
596  39800  4.264697  6.896788
597  39850  4.283291  6.850972
598  39900  4.370667  6.971428
599  39950  4.336757  6.842269
600  40000  4.345343  6.839921

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_27_vid_0.csv
1

      time   valence   arousal
0    10000  4.341393  6.226130
1    10050  4.334723  6.232584
2    10100  4.382043  6.288043
3    10150  4.396461  6.274349
4    10200  4.374630  6.282673
..     ...       ...       ...
596  39800  4.486797  6.267750
597  39850  4.531217  6.269912
598  39900  4.548386  6.308402
599  39950  4.582402  6.314780
600  40000  4.560253  6.311551

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_27_vid_10.csv
2

      time   valence   arousal
0    10000  4.681131  6.459273
1    10050  5.025266  7.415775
2    10100  4.448313  6.493570
3    10150  4.401309  6.303554
4    10200  5.181015  6.778061
..     ...       ...       ...
596  39800  4.736071  6.295504
597  39850  4.744559  6.305033
598  39900  4.760773  6.347762
599  39950  4.740552  6.195899
600  40000  4.727983  6.273510

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_27_vid_11.csv
3

      time   valence   arousal
0    10000  4.777573  6.350575
1    10050  4.804211  6.386749
2    10100  4.752590  6.079503
3    10150  4.632143  6.039266
4    10200  4.467235  5.947849
..     ...       ...       ...
596  39800  4.435801  8.982868
597  39850  4.138513  8.503975
598  39900  4.007059  8.464442
599  39950  3.823555  8.296659
600  40000  3.686033  8.183478

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_27_vid_13.csv
4

      time   valence   arousal
0    10000  3.797910  8.518858
1    10050  3.940256  8.372290
2    10100  3.929111  8.354347
3    10150  4.718656  6.508137
4    10200  4.838747  6.649553
..     ...       ...       ...
596  39800  4.397052  6.215635
597  39850  4.453640  6.244015
598  39900  4.523644  6.281343
599  39950  4.571684  6.303431
600  40000  4.584089  6.286192

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_27_vid_14.csv
5

      time   valence   arousal
0    10000  4.589198  6.297205
1    10050  4.621147  6.328596
2    10100  4.661551  6.351184
3    10150  4.702881  6.404219
4    10200  4.858829  6.678093
..     ...       ...       ...
596  39800  4.504477  6.626051
597  39850  4.569790  6.650510
598  39900  4.607474  6.646103
599  39950  4.620772  6.646430
600  40000  4.654528  6.673088

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_27_vid_2.csv
6

      time   valence    arousal
0    10000  4.683895   6.677878
1    10050  4.776317   6.804626
2    10100  4.747973   6.621006
3    10150  4.730013   6.687413
4    10200  4.757266   6.720187
..     ...       ...        ...
596  39800  5.192872  10.183752
597  39850  4.480023   8.624403
598  39900  4.501441   8.436994
599  39950  4.085435   8.187988
600  40000  4.228571   8.212498

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_27_vid_20.csv
7

      time   valence   arousal
0    10000  4.243523  8.383896
1    10050  4.313533  8.762178
2    10100  4.381464  8.323929
3    10150  4.524699  8.493814
4    10200  4.406835  8.386975
..     ...       ...       ...
596  39800  5.217933  6.092499
597  39850  5.155673  6.129169
598  39900  5.172337  6.281150
599  39950  5.288729  6.251360
600  40000  5.330588  6.226728

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_27_vid_9.csv
8

      time   valence   arousal
0    10000  4.975897  6.043670
1    10050  4.778064  5.964416
2    10100  4.740531  5.980596
3    10150  4.824827  6.022859
4    10200  4.879469  6.060367
..     ...       ...       ...
596  39800  5.382847  7.555502
597  39850  5.461556  7.536602
598  39900  5.404215  7.483844
599  39950  5.343187  7.522224
600  40000  5.426199  7.489955

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_29_vid_0.csv
9

      time   valence   arousal
0    10000  5.434578  7.485828
1    10050  5.413175  7.531146
2    10100  5.433950  7.475661
3    10150  5.378082  7.542435
4    10200  5.441467  7.519781
..     ...       ...       ...
596  39800  5.677433  7.071285
597  39850  5.637037  7.059630
598  39900  5.666263  7.061777
599  39950  5.618923  7.036638
600  40000  5.622586  7.059971

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_29_vid_10.csv
10

      time   valence   arousal
0    10000  5.655686  7.044543
1    10050  5.676314  7.058322
2    10100  5.700670  7.156972
3    10150  5.521928  7.004409
4    10200  5.595610  7.009474
..     ...       ...       ...
596  39800  5.690364  6.373672
597  39850  5.610184  6.359277
598  39900  5.649210  6.395956
599  39950  5.695381  6.422127
600  40000  5.630256  6.422940

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_29_vid_11.csv
11

      time   valence   arousal
0    10000  5.662587  6.425596
1    10050  5.687561  6.389631
2    10100  5.667170  6.396061
3    10150  5.644299  6.443619
4    10200  5.707123  6.426639
..     ...       ...       ...
596  39800  6.218860  5.328634
597  39850  6.256902  5.318624
598  39900  6.364621  5.399311
599  39950  6.368401  5.367591
600  40000  6.185842  5.261087

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_29_vid_13.csv
12

      time   valence   arousal
0    10000  6.297777  5.362307
1    10050  6.510670  5.503324
2    10100  6.582963  5.554316
3    10150  6.447443  5.382759
4    10200  6.441222  5.430921
..     ...       ...       ...
596  39800  5.848966  5.791703
597  39850  5.962030  5.849629
598  39900  5.777229  5.717926
599  39950  5.762576  5.770300
600  40000  5.833375  5.758991

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_29_vid_14.csv
13

      time   valence   arousal
0    10000  5.852539  5.767315
1    10050  5.915223  5.791473
2    10100  5.827253  5.688375
3    10150  5.798980  5.690409
4    10200  5.843351  5.738190
..     ...       ...       ...
596  39800  6.104518  5.785787
597  39850  6.103512  5.787248
598  39900  6.075427  5.767108
599  39950  6.087368  5.811993
600  40000  6.083673  5.810052

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_29_vid_2.csv
14

      time   valence   arousal
0    10000  6.108280  5.849593
1    10050  6.097681  5.843770
2    10100  6.117136  5.868652
3    10150  5.865625  5.711434
4    10200  5.933381  5.771467
..     ...       ...       ...
596  39800  6.023314  6.179518
597  39850  6.013621  6.131775
598  39900  5.982745  6.057016
599  39950  5.997510  6.054732
600  40000  5.997599  6.082417

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_29_vid_20.csv
15

      time   valence   arousal
0    10000  6.026734  6.146148
1    10050  6.024076  6.129495
2    10100  6.012495  6.058355
3    10150  5.991840  6.079720
4    10200  6.027888  6.097307
..     ...       ...       ...
596  39800  5.415737  6.736377
597  39850  5.519620  6.813820
598  39900  5.529155  6.797700
599  39950  5.495868  6.797972
600  40000  5.471491  6.759639

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_29_vid_9.csv
16

      time   valence   arousal
0    10000  5.473827  6.801134
1    10050  5.447677  6.758605
2    10100  5.410651  6.748888
3    10150  5.449000  6.758554
4    10200  5.376803  6.742800
..     ...       ...       ...
596  39800  4.468170  5.243125
597  39850  4.463689  5.586234
598  39900  4.449236  5.528580
599  39950  4.342477  5.276593
600  40000  4.744220  5.952630

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_30_vid_0.csv
17

      time   valence   arousal
0    10000  4.433087  5.304538
1    10050  4.692943  5.858533
2    10100  4.455408  5.424404
3    10150  4.488878  5.524759
4    10200  4.451595  5.470981
..     ...       ...       ...
596  39800  5.508174  3.507699
597  39850  6.015899  3.870427
598  39900  5.986658  3.996345
599  39950  6.016502  3.925620
600  40000  6.221744  3.721841

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_30_vid_10.csv
18

      time   valence   arousal
0    10000  6.122593  3.741875
1    10050  6.211218  3.677933
2    10100  6.335824  3.583041
3    10150  6.167326  3.703147
4    10200  6.068910  3.853450
..     ...       ...       ...
596  39800  6.081052  3.755684
597  39850  6.100819  3.939960
598  39900  6.121288  3.773096
599  39950  6.270971  3.696683
600  40000  6.469455  3.483128

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_30_vid_11.csv
19

      time   valence   arousal
0    10000  5.878098  3.563231
1    10050  6.007630  3.543240
2    10100  5.855699  4.105489
3    10150  6.089510  4.072540
4    10200  6.457749  3.566803
..     ...       ...       ...
596  39800  7.569085  4.878700
597  39850  7.764390  4.640598
598  39900  7.377336  4.933240
599  39950  7.538505  4.870910
600  40000  7.077003  4.806644

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_30_vid_13.csv
20

      time   valence   arousal
0    10000  6.896511  4.974167
1    10050  7.135143  4.998308
2    10100  6.957638  4.783427
3    10150  7.073266  4.805970
4    10200  7.333376  5.133117
..     ...       ...       ...
596  39800  5.606071  4.027719
597  39850  5.167251  3.861331
598  39900  5.376199  4.081266
599  39950  5.757288  4.051270
600  40000  5.787094  4.210417

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_30_vid_14.csv
21

      time   valence   arousal
0    10000  5.676590  4.054837
1    10050  5.788937  3.972477
2    10100  5.683955  4.011052
3    10150  5.616192  4.017143
4    10200  5.759788  3.987208
..     ...       ...       ...
596  39800  5.652266  4.331685
597  39850  5.646153  4.523567
598  39900  5.770356  4.407697
599  39950  5.941166  4.447212
600  40000  5.864193  4.081941

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_30_vid_2.csv
22

      time   valence   arousal
0    10000  6.058441  4.045228
1    10050  4.883181  4.284286
2    10100  5.717615  4.931845
3    10150  5.918379  4.638567
4    10200  5.967569  4.433025
..     ...       ...       ...
596  39800  7.688709  4.574387
597  39850  7.938482  4.339592
598  39900  7.715477  4.604620
599  39950  7.856812  4.398461
600  40000  7.798981  4.366491

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_30_vid_20.csv
23

      time   valence   arousal
0    10000  7.787314  4.331791
1    10050  7.834500  4.272058
2    10100  7.682564  4.456498
3    10150  7.368223  4.544949
4    10200  7.555536  4.783038
..     ...       ...       ...
596  39800  5.266460  4.106555
597  39850  5.318573  3.985453
598  39900  5.543828  4.286087
599  39950  5.857916  4.152107
600  40000  5.553761  4.191290

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_30_vid_9.csv
24

      time   valence   arousal
0    10000  5.596782  4.136014
1    10050  5.534938  3.953557
2    10100  5.619196  3.970457
3    10150  5.339724  4.092947
4    10200  5.684363  4.047868
..     ...       ...       ...
596  39800  4.409259  7.142436
597  39850  4.491121  7.187365
598  39900  4.490240  7.189270
599  39950  4.551406  7.146729
600  40000  4.600974  7.247602

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_34_vid_0.csv
25

      time   valence   arousal
0    10000  4.485788  7.057270
1    10050  4.527954  7.176665
2    10100  4.620481  7.215916
3    10150  4.603535  7.187779
4    10200  4.524117  7.187481
..     ...       ...       ...
596  39800  4.429927  6.987989
597  39850  4.425539  7.032915
598  39900  4.421200  7.041747
599  39950  4.504518  7.011093
600  40000  4.500185  7.095263

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_34_vid_10.csv
26

      time   valence   arousal
0    10000  4.412763  6.997649
1    10050  4.483641  7.040796
2    10100  4.570464  7.066342
3    10150  4.567939  7.095001
4    10200  4.577242  7.113645
..     ...       ...       ...
596  39800  4.295858  6.770061
597  39850  4.307543  6.827220
598  39900  4.303676  6.691638
599  39950  4.354132  6.762800
600  40000  4.409800  6.779296

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_34_vid_11.csv
27

      time   valence   arousal
0    10000  4.406615  6.852592
1    10050  4.415773  6.840146
2    10100  4.282927  6.752258
3    10150  4.183127  6.716865
4    10200  4.199758  6.734640
..     ...       ...       ...
596  39800  4.834146  6.122007
597  39850  4.880214  6.176104
598  39900  4.907186  6.149350
599  39950  4.938079  6.158227
600  40000  4.884234  6.054970

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_34_vid_13.csv
28

      time   valence   arousal
0    10000  4.883804  6.080309
1    10050  4.943715  6.115464
2    10100  4.985584  6.126453
3    10150  5.022083  6.099730
4    10200  5.050118  6.110405
..     ...       ...       ...
596  39800  4.699472  6.680061
597  39850  4.741518  6.698332
598  39900  4.728120  6.646546
599  39950  4.535674  6.571885
600  40000  4.436071  6.520849

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_34_vid_14.csv
29

      time   valence   arousal
0    10000  4.496006  6.497918
1    10050  4.481494  6.526916
2    10100  4.511752  6.541584
3    10150  4.515343  6.541727
4    10200  4.525868  6.525665
..     ...       ...       ...
596  39800  4.191412  6.826278
597  39850  4.201074  6.792748
598  39900  4.210210  6.793357
599  39950  4.275726  6.873287
600  40000  4.251804  6.699396

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_34_vid_2.csv
30

      time   valence   arousal
0    10000  4.283103  6.747272
1    10050  4.296850  6.788007
2    10100  4.288608  6.831346
3    10150  4.183780  6.758457
4    10200  4.071406  6.708516
..     ...       ...       ...
596  39800  4.316571  7.414354
597  39850  4.315183  7.301946
598  39900  4.299830  7.215502
599  39950  4.184606  7.293548
600  40000  4.079875  7.297698

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_34_vid_20.csv
31

      time   valence   arousal
0    10000  4.084949  6.998837
1    10050  4.131233  7.271580
2    10100  4.158720  7.296795
3    10150  4.160921  7.018727
4    10200  4.164469  7.108214
..     ...       ...       ...
596  39800  4.857179  6.369772
597  39850  4.874994  6.393365
598  39900  4.830893  6.354243
599  39950  4.713320  6.334404
600  40000  4.638350  6.235634

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_34_vid_9.csv
32

      time   valence   arousal
0    10000  4.678822  6.314837
1    10050  4.722745  6.353334
2    10100  4.758138  6.355512
3    10150  4.762934  6.334501
4    10200  4.715535  6.277919
..     ...       ...       ...
596  39800  4.664586  4.270235
597  39850  4.642374  4.265082
598  39900  4.670622  4.258256
599  39950  4.710639  4.278859
600  40000  4.616437  4.203182

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_5_vid_0.csv
33

      time   valence   arousal
0    10000  4.518448  4.168592
1    10050  4.531107  4.190106
2    10100  4.561369  4.167695
3    10150  4.583778  4.172593
4    10200  4.579484  4.174347
..     ...       ...       ...
596  39800  5.039049  3.402900
597  39850  5.027026  3.385972
598  39900  5.039631  3.391802
599  39950  5.060308  3.416140
600  40000  5.067140  3.445863

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_5_vid_10.csv
34

      time   valence   arousal
0    10000  5.099864  3.484458
1    10050  5.067997  3.480023
2    10100  4.977816  3.516439
3    10150  5.054564  3.523492
4    10200  5.111110  3.554466
..     ...       ...       ...
596  39800  5.391512  3.055462
597  39850  5.211283  2.691954
598  39900  5.238995  2.677312
599  39950  5.247539  2.701540
600  40000  5.272189  2.727527

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_5_vid_11.csv
35

      time   valence   arousal
0    10000  5.296714  2.775287
1    10050  5.308303  2.748174
2    10100  5.296056  2.753098
3    10150  5.313881  2.792993
4    10200  5.348323  2.846915
..     ...       ...       ...
596  39800  5.399533  4.161590
597  39850  5.423530  4.194704
598  39900  5.453340  4.218534
599  39950  5.429263  4.228324
600  40000  5.446875  4.229511

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_5_vid_13.csv
36

      time   valence   arousal
0    10000  5.454913  4.290554
1    10050  5.475115  4.330056
2    10100  5.491665  4.349406
3    10150  5.453064  4.305069
4    10200  5.351758  4.311061
..     ...       ...       ...
596  39800  5.316040  3.321800
597  39850  5.279835  3.277798
598  39900  5.180222  3.276270
599  39950  5.245926  3.315661
600  40000  5.309127  3.344414

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_5_vid_14.csv
37

      time   valence   arousal
0    10000  5.326298  3.337284
1    10050  5.217151  3.072726
2    10100  5.226163  3.058390
3    10150  5.255665  3.057079
4    10200  5.274623  3.072716
..     ...       ...       ...
596  39800  4.998142  3.912406
597  39850  5.024506  3.960045
598  39900  5.006825  3.945164
599  39950  5.000184  3.963190
600  40000  5.016583  3.988531

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_5_vid_2.csv
38

      time   valence   arousal
0    10000  5.034985  4.022494
1    10050  5.052298  4.011236
2    10100  5.125325  4.111263
3    10150  4.998718  4.031096
4    10200  4.990865  4.084707
..     ...       ...       ...
596  39800  5.454798  2.467931
597  39850  5.465644  2.484274
598  39900  5.458055  2.514809
599  39950  5.456378  2.506986
600  40000  5.462623  2.515132

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_5_vid_20.csv
39

      time   valence   arousal
0    10000  5.456276  2.559546
1    10050  5.473003  2.574127
2    10100  5.489707  2.589104
3    10150  5.490011  2.622421
4    10200  5.488806  2.622532
..     ...       ...       ...
596  39800  5.515560  2.738427
597  39850  5.525545  2.714320
598  39900  5.389816  2.438037
599  39950  5.416671  2.435375
600  40000  5.422842  2.461298

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_5_vid_9.csv
40

      time   valence   arousal
0    10000  5.436391  2.490498
1    10050  5.450415  2.535249
2    10100  5.438916  2.500291
3    10150  5.443036  2.504453
4    10200  5.456625  2.552078
..     ...       ...       ...
596  39800  5.221529  6.970117
597  39850  5.227232  6.981549
598  39900  5.231446  6.973610
599  39950  5.222566  6.968824
600  40000  5.244545  6.932961

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_9_vid_0.csv
41

      time   valence   arousal
0    10000  5.245106  6.982054
1    10050  5.260415  6.944349
2    10100  5.264036  6.971968
3    10150  5.266090  6.960691
4    10200  5.259839  6.988772
..     ...       ...       ...
596  39800  5.760406  5.499965
597  39850  5.776814  5.533303
598  39900  5.975528  5.690063
599  39950  5.979537  5.652281
600  40000  5.687648  5.492809

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_9_vid_10.csv
42

      time   valence   arousal
0    10000  5.665194  5.463874
1    10050  5.632096  5.452679
2    10100  5.636545  5.474368
3    10150  5.627594  5.464199
4    10200  5.570628  5.464705
..     ...       ...       ...
596  39800  5.209507  5.979395
597  39850  5.196767  5.984685
598  39900  5.036451  6.027921
599  39950  5.158897  6.079895
600  40000  5.200649  6.047436

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_9_vid_11.csv
43

      time   valence   arousal
0    10000  5.228760  6.026565
1    10050  5.150872  5.966451
2    10100  5.129670  5.891932
3    10150  5.152799  5.965074
4    10200  5.184646  5.966570
..     ...       ...       ...
596  39800  5.158163  6.056892
597  39850  5.196442  6.057222
598  39900  5.189525  6.054188
599  39950  5.206448  6.005750
600  40000  5.190083  6.011990

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_9_vid_13.csv
44

      time   valence   arousal
0    10000  5.180052  6.039849
1    10050  5.212469  6.020986
2    10100  5.231784  6.012000
3    10150  5.232181  5.972730
4    10200  5.222614  5.989794
..     ...       ...       ...
596  39800  5.110241  5.920636
597  39850  5.133259  5.960160
598  39900  5.139972  5.955397
599  39950  5.132004  5.940395
600  40000  5.121187  5.954502

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_9_vid_14.csv
45

      time   valence   arousal
0    10000  5.154020  5.954848
1    10050  5.171252  5.941748
2    10100  5.177773  5.958585
3    10150  5.186471  5.975141
4    10200  5.219394  6.036187
..     ...       ...       ...
596  39800  5.081232  6.410280
597  39850  5.103108  6.405796
598  39900  5.102899  6.425625
599  39950  5.095860  6.437380
600  40000  5.082085  6.437853

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_9_vid_2.csv
46

      time   valence   arousal
0    10000  5.081579  6.435653
1    10050  5.050351  6.396267
2    10100  4.919808  6.431976
3    10150  5.061217  6.460997
4    10200  5.101247  6.472795
..     ...       ...       ...
596  39800  5.063616  7.507994
597  39850  5.308623  7.651815
598  39900  5.022077  7.500534
599  39950  5.047078  7.503588
600  40000  5.408287  7.816710

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_9_vid_20.csv
47

      time   valence   arousal
0    10000  5.049765  7.463006
1    10050  5.095012  7.517166
2    10100  5.633988  7.847757
3    10150  5.480011  7.830710
4    10200  5.808591  8.043176
..     ...       ...       ...
596  39800  5.260881  6.660737
597  39850  5.274136  6.661652
598  39900  5.185008  6.578128
599  39950  5.142328  6.536902
600  40000  5.168224  6.556246

[601 rows x 3 columns]

Saved: results/scenario_2/fold_2/test/annotations/sub_9_vid_9.csv
fold_3
28895
28895
0

      time   valence   arousal
0    10000  2.485169  6.227070
1    10050  2.461078  6.210175
2    10100  2.523049  6.336788
3    10150  1.906406  6.475813
4    10200  1.875757  6.418484
..     ...       ...       ...
596  39800  1.975055  6.405395
597  39850  1.961338  6.365062
598  39900  1.927714  6.389716
599  39950  1.976670  6.514293
600  40000  1.899576  6.393750

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_0_vid_0.csv
1

      time   valence   arousal
0    10000  1.578420  5.431880
1    10050  1.565609  5.480945
2    10100  1.605303  5.551804
3    10150  1.611822  5.554448
4    10200  1.595815  5.571629
..     ...       ...       ...
596  39800  1.656755  5.453884
597  39850  1.681307  5.463697
598  39900  1.690201  5.493411
599  39950  1.719457  5.509160
600  40000  1.697659  5.490087

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_0_vid_10.csv
2

      time   valence   arousal
0    10000  1.760351  5.589688
1    10050  2.650440  5.972754
2    10100  2.014166  5.681581
3    10150  1.701363  5.475333
4    10200  2.318745  5.925945
..     ...       ...       ...
596  39800  1.817653  5.441260
597  39850  1.822160  5.450699
598  39900  1.820639  5.470060
599  39950  1.876770  5.506178
600  40000  1.864474  5.545794

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_0_vid_11.csv
3

      time   valence   arousal
0    10000  1.842264  5.512365
1    10050  1.855833  5.516979
2    10100  1.831922  5.179238
3    10150  1.729472  5.134350
4    10200  1.619450  5.030058
..     ...       ...       ...
596  39800  4.018374  6.398243
597  39850  4.374905  7.113220
598  39900  4.008381  6.655758
599  39950  4.254162  7.214945
600  40000  4.166783  7.134394

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_0_vid_13.csv
4

      time   valence   arousal
0    10000  3.832521  6.056995
1    10050  4.335732  7.315959
2    10100  4.043659  6.614159
3    10150  2.941278  6.365556
4    10200  1.897546  5.779334
..     ...       ...       ...
596  39800  1.618589  5.321208
597  39850  1.645115  5.359235
598  39900  1.691981  5.396735
599  39950  1.725298  5.403822
600  40000  1.737000  5.377891

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_0_vid_14.csv
5

      time   valence   arousal
0    10000  1.740649  5.395506
1    10050  1.757770  5.421784
2    10100  1.783233  5.440184
3    10150  1.811884  5.481966
4    10200  1.884094  5.808008
..     ...       ...       ...
596  39800  1.705903  5.924785
597  39850  1.755231  5.940642
598  39900  1.773926  5.950788
599  39950  1.767945  5.942915
600  40000  1.810007  5.984720

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_0_vid_2.csv
6

      time   valence   arousal
0    10000  1.825956  5.989637
1    10050  1.827535  6.014873
2    10100  1.932817  6.155277
3    10150  1.834232  6.065305
4    10200  1.826896  6.034046
..     ...       ...       ...
596  39800  4.478136  6.960547
597  39850  3.811687  6.544076
598  39900  3.974077  6.844202
599  39950  3.976865  7.097230
600  40000  3.937694  6.963795

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_0_vid_20.csv
7

      time   valence   arousal
0    10000  3.619305  6.408535
1    10050  3.695565  6.397673
2    10100  4.210898  7.177751
3    10150  3.810841  6.641242
4    10200  4.147804  7.179267
..     ...       ...       ...
596  39800  2.290943  4.770741
597  39850  2.360185  4.885351
598  39900  2.334886  4.749772
599  39950  2.330042  4.781283
600  40000  2.340944  4.782218

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_0_vid_9.csv
8

      time   valence   arousal
0    10000  2.124660  4.573349
1    10050  1.989265  4.558210
2    10100  1.912500  4.643189
3    10150  1.934666  4.692039
4    10200  1.950235  4.728080
..     ...       ...       ...
596  39800  2.825453  6.269736
597  39850  2.855297  6.244454
598  39900  2.830907  6.270948
599  39950  2.859155  6.277166
600  40000  2.893293  6.235081

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_13_vid_0.csv
9

      time   valence   arousal
0    10000  2.905375  6.262558
1    10050  2.892196  6.217923
2    10100  2.901987  6.282101
3    10150  2.868475  6.233157
4    10200  2.924044  6.233984
..     ...       ...       ...
596  39800  3.004556  5.687683
597  39850  2.983923  5.698213
598  39900  2.988524  5.684195
599  39950  2.976012  5.677442
600  40000  2.963723  5.639442

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_13_vid_10.csv
10

      time   valence   arousal
0    10000  2.994940  5.648076
1    10050  2.986639  5.675477
2    10100  2.916718  5.705387
3    10150  2.952220  5.666564
4    10200  2.992596  5.601976
..     ...       ...       ...
596  39800  2.823347  5.347569
597  39850  2.875425  5.302331
598  39900  2.892427  5.298953
599  39950  2.878892  5.308064
600  40000  2.844874  5.325909

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_13_vid_11.csv
11

      time   valence   arousal
0    10000  2.847369  5.313394
1    10050  2.855137  5.296753
2    10100  2.840034  5.309096
3    10150  2.807719  5.347438
4    10200  2.825337  5.335180
..     ...       ...       ...
596  39800  3.510274  4.259339
597  39850  3.543873  4.248948
598  39900  3.562722  4.298055
599  39950  3.506467  4.292025
600  40000  3.672796  4.327201

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_13_vid_13.csv
12

      time   valence   arousal
0    10000  3.623144  4.300778
1    10050  3.637385  4.366149
2    10100  3.613192  4.386748
3    10150  3.600329  4.309248
4    10200  3.623911  4.341280
..     ...       ...       ...
596  39800  3.283353  4.679235
597  39850  3.186726  4.707389
598  39900  3.301523  4.694744
599  39950  3.308727  4.732088
600  40000  3.278934  4.660041

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_13_vid_14.csv
13

      time   valence   arousal
0    10000  3.273083  4.685395
1    10050  3.249661  4.667723
2    10100  3.307636  4.647264
3    10150  3.305025  4.611955
4    10200  3.292074  4.661966
..     ...       ...       ...
596  39800  3.289881  4.635369
597  39850  3.287340  4.637854
598  39900  3.274080  4.619616
599  39950  3.257457  4.646596
600  40000  3.239208  4.640886

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_13_vid_2.csv
14

      time   valence   arousal
0    10000  3.239741  4.664539
1    10050  3.237582  4.670074
2    10100  3.175853  4.696712
3    10150  3.289975  4.681427
4    10200  3.257343  4.611765
..     ...       ...       ...
596  39800  3.087065  4.951657
597  39850  3.150394  4.934218
598  39900  3.189525  4.889710
599  39950  3.182921  4.895926
600  40000  3.160842  4.908082

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_13_vid_20.csv
15

      time   valence   arousal
0    10000  3.148341  4.952443
1    10050  3.156105  4.931848
2    10100  3.182050  4.883948
3    10150  3.158685  4.900282
4    10200  3.159734  4.914783
..     ...       ...       ...
596  39800  2.942786  5.465727
597  39850  2.897433  5.486155
598  39900  2.888965  5.518928
599  39950  2.863485  5.518763
600  40000  2.849267  5.553225

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_13_vid_9.csv
16

      time   valence   arousal
0    10000  2.754678  5.665252
1    10050  2.785310  5.672139
2    10100  2.876803  5.558131
3    10150  2.910478  5.495446
4    10200  2.907807  5.514205
..     ...       ...       ...
596  39800  2.806999  4.053229
597  39850  2.534514  3.960346
598  39900  2.996340  3.880773
599  39950  3.175504  3.878776
600  40000  3.009914  3.735646

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_15_vid_0.csv
17

      time   valence   arousal
0    10000  3.333153  3.849844
1    10050  2.950969  3.720094
2    10100  3.010221  3.916848
3    10150  2.989435  3.855896
4    10200  2.942950  3.890757
..     ...       ...       ...
596  39800  4.538989  2.918284
597  39850  4.096538  2.744460
598  39900  3.963898  2.821079
599  39950  3.947873  2.791362
600  40000  4.065546  2.681451

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_15_vid_10.csv
18

      time   valence   arousal
0    10000  3.998708  2.697619
1    10050  4.054586  2.690872
2    10100  4.174063  2.607494
3    10150  4.046443  2.657601
4    10200  3.961586  2.756139
..     ...       ...       ...
596  39800  4.185951  2.556898
597  39850  4.102708  2.648383
598  39900  4.129624  2.560308
599  39950  4.248034  2.515564
600  40000  4.458009  2.408870

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_15_vid_11.csv
19

      time   valence   arousal
0    10000  4.549368  2.613647
1    10050  4.607276  2.551472
2    10100  4.184393  2.720015
3    10150  4.106730  2.689081
4    10200  4.367551  2.412983
..     ...       ...       ...
596  39800  8.185734  4.094449
597  39850  6.911068  3.625094
598  39900  7.913358  4.924381
599  39950  6.084665  3.119542
600  40000  6.697832  3.491235

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_15_vid_13.csv
20

      time   valence   arousal
0    10000  6.862897  3.745603
1    10050  6.462391  3.410005
2    10100  6.626797  3.514281
3    10150  6.931358  3.636410
4    10200  6.505288  3.420357
..     ...       ...       ...
596  39800  3.704252  3.029633
597  39850  4.110343  3.243172
598  39900  3.749646  3.100219
599  39950  3.790180  2.966406
600  40000  3.566686  2.963671

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_15_vid_14.csv
21

      time   valence   arousal
0    10000  3.633691  2.986923
1    10050  3.614596  2.886162
2    10100  3.558380  2.913786
3    10150  3.572736  2.932535
4    10200  3.605072  2.893042
..     ...       ...       ...
596  39800  4.003655  3.049794
597  39850  4.016604  3.102219
598  39900  4.375330  3.025818
599  39950  4.497195  2.970725
600  40000  4.442602  2.840141

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_15_vid_2.csv
22

      time   valence   arousal
0    10000  4.186490  2.842543
1    10050  5.218053  3.103872
2    10100  5.307815  3.318504
3    10150  4.938286  2.985532
4    10200  4.683311  2.927466
..     ...       ...       ...
596  39800  6.890388  3.533919
597  39850  6.535277  3.169501
598  39900  6.505127  3.188432
599  39950  7.113265  3.561196
600  40000  7.055569  3.530502

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_15_vid_20.csv
23

      time   valence   arousal
0    10000  7.446945  3.733589
1    10050  6.540395  3.106013
2    10100  6.668429  3.232179
3    10150  6.778466  3.276891
4    10200  6.559640  3.106435
..     ...       ...       ...
596  39800  3.875633  2.994014
597  39850  4.114009  3.016907
598  39900  3.871650  2.959640
599  39950  3.926469  2.843076
600  40000  3.779320  2.925734

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_15_vid_9.csv
24

      time   valence   arousal
0    10000  3.806913  2.901072
1    10050  3.898206  2.888640
2    10100  3.914832  2.875120
3    10150  3.843611  2.953187
4    10200  3.863782  2.848091
..     ...       ...       ...
596  39800  2.619396  6.323408
597  39850  2.617750  6.303673
598  39900  2.622354  6.328999
599  39950  2.616527  6.252716
600  40000  2.601583  6.276316

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_18_vid_0.csv
25

      time   valence   arousal
0    10000  2.661958  6.368128
1    10050  2.608269  6.338979
2    10100  2.603032  6.271301
3    10150  2.590051  6.236671
4    10200  2.568978  6.277989
..     ...       ...       ...
596  39800  1.868593  6.291297
597  39850  1.865146  6.316901
598  39900  1.864100  6.316672
599  39950  1.899032  6.269012
600  40000  1.900414  6.340831

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_18_vid_10.csv
26

      time   valence   arousal
0    10000  1.928231  6.407431
1    10050  1.882346  6.333066
2    10100  1.915643  6.308577
3    10150  1.925465  6.315263
4    10200  1.932629  6.323298
..     ...       ...       ...
596  39800  1.724773  6.133848
597  39850  1.721334  6.156819
598  39900  1.772808  6.196796
599  39950  1.735596  6.170627
600  40000  1.750051  6.151543

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_18_vid_11.csv
27

      time   valence   arousal
0    10000  1.759658  6.187128
1    10050  1.759527  6.157375
2    10100  1.680833  6.083463
3    10150  1.648351  6.075306
4    10200  1.669363  6.100375
..     ...       ...       ...
596  39800  2.018715  4.795435
597  39850  2.054087  4.854214
598  39900  2.070559  4.828271
599  39950  2.096938  4.824296
600  40000  2.052103  4.721347

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_18_vid_13.csv
28

      time   valence   arousal
0    10000  2.040751  4.773149
1    10050  2.076279  4.811063
2    10100  2.111325  4.843843
3    10150  2.148995  4.815185
4    10200  2.156981  4.833166
..     ...       ...       ...
596  39800  1.845707  5.710355
597  39850  1.870595  5.717614
598  39900  1.857685  5.658357
599  39950  1.755398  5.587962
600  40000  1.718457  5.554821

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_18_vid_14.csv
29

      time   valence   arousal
0    10000  1.743244  5.548687
1    10050  1.734813  5.580473
2    10100  1.752673  5.586554
3    10150  1.756530  5.575298
4    10200  1.760277  5.560848
..     ...       ...       ...
596  39800  1.823040  6.275806
597  39850  1.841008  6.273932
598  39900  1.830769  6.270950
599  39950  1.825010  6.273924
600  40000  1.871763  6.304881

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_18_vid_2.csv
30

      time   valence   arousal
0    10000  1.830104  6.242833
1    10050  1.837233  6.236222
2    10100  1.839808  6.247063
3    10150  1.770586  6.195619
4    10200  1.711294  6.171863
..     ...       ...       ...
596  39800  3.364047  6.968131
597  39850  3.184877  6.877562
598  39900  3.083332  6.804795
599  39950  3.114246  6.857635
600  40000  3.126640  6.899641

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_18_vid_20.csv
31

      time   valence   arousal
0    10000  2.902957  6.756818
1    10050  3.129667  6.862473
2    10100  3.174878  6.878234
3    10150  2.931944  6.744761
4    10200  2.988574  6.762489
..     ...       ...       ...
596  39800  1.977854  5.396314
597  39850  1.999743  5.376112
598  39900  1.952711  5.344158
599  39950  1.878138  5.284959
600  40000  1.828497  5.230949

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_18_vid_9.csv
32

      time   valence   arousal
0    10000  1.888252  5.322284
1    10050  1.933561  5.348545
2    10100  1.948773  5.345012
3    10150  1.939234  5.339245
4    10200  1.898901  5.273604
..     ...       ...       ...
596  39800  2.072896  3.896230
597  39850  1.999086  3.793550
598  39900  1.991437  3.789382
599  39950  1.991013  3.794577
600  40000  1.855414  3.696880

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_2_vid_0.csv
33

      time   valence   arousal
0    10000  1.718616  3.689199
1    10050  1.714662  3.772112
2    10100  1.758059  3.788810
3    10150  1.803571  3.822911
4    10200  1.800330  3.812358
..     ...       ...       ...
596  39800  2.425805  2.659133
597  39850  2.413092  2.646909
598  39900  2.434637  2.665522
599  39950  2.459933  2.689843
600  40000  2.507462  2.746528

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_2_vid_10.csv
34

      time   valence   arousal
0    10000  2.507968  2.770989
1    10050  2.706643  2.906326
2    10100  2.648995  2.868880
3    10150  2.603513  2.793221
4    10200  2.590246  2.826875
..     ...       ...       ...
596  39800  3.154162  2.104543
597  39850  2.937295  1.704158
598  39900  2.943792  1.627607
599  39950  2.932662  1.690405
600  40000  2.957885  1.736489

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_2_vid_11.csv
35

      time   valence   arousal
0    10000  3.014665  1.818170
1    10050  3.035144  1.796941
2    10100  3.004580  1.784402
3    10150  3.033807  1.840400
4    10200  3.105384  1.911430
..     ...       ...       ...
596  39800  2.722512  3.067298
597  39850  2.719221  3.089335
598  39900  2.735374  3.115470
599  39950  2.713562  3.127845
600  40000  2.730163  3.114428

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_2_vid_13.csv
36

      time   valence   arousal
0    10000  2.718555  3.173335
1    10050  2.737208  3.203681
2    10100  2.740147  3.223760
3    10150  2.867506  3.296546
4    10200  2.859181  3.288472
..     ...       ...       ...
596  39800  2.831759  2.378152
597  39850  3.019268  2.457418
598  39900  2.984711  2.426627
599  39950  2.913926  2.392576
600  40000  2.906855  2.419071

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_2_vid_14.csv
37

      time   valence   arousal
0    10000  2.862148  2.388247
1    10050  2.751683  2.125440
2    10100  2.745396  2.098657
3    10150  2.763742  2.113196
4    10200  2.795378  2.145432
..     ...       ...       ...
596  39800  2.264556  2.992084
597  39850  2.287834  3.038963
598  39900  2.272333  3.033344
599  39950  2.253132  3.028105
600  40000  2.270819  3.056191

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_2_vid_2.csv
38

      time   valence   arousal
0    10000  2.276831  3.083581
1    10050  2.319431  3.097061
2    10100  2.313228  3.142802
3    10150  2.524343  3.247816
4    10200  2.428088  3.141394
..     ...       ...       ...
596  39800  3.294461  1.380591
597  39850  3.286186  1.394953
598  39900  3.301526  1.451064
599  39950  3.296202  1.439849
600  40000  3.303304  1.445954

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_2_vid_20.csv
39

      time   valence   arousal
0    10000  3.294227  1.504776
1    10050  3.330604  1.534871
2    10100  3.364513  1.560804
3    10150  3.359370  1.599022
4    10200  3.377094  1.609890
..     ...       ...       ...
596  39800  3.463758  1.754142
597  39850  3.434658  1.725492
598  39900  3.238876  1.369810
599  39950  3.247518  1.314779
600  40000  3.243251  1.370153

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_2_vid_9.csv
40

      time   valence   arousal
0    10000  3.263407  1.423633
1    10050  3.304555  1.495723
2    10100  3.307110  1.466226
3    10150  3.309572  1.465887
4    10200  3.337571  1.533945
..     ...       ...       ...
596  39800  2.633773  5.942864
597  39850  2.635885  5.964333
598  39900  2.645000  5.960853
599  39950  2.638459  5.941600
600  40000  2.649911  5.924457

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_43_vid_0.csv
41

      time   valence   arousal
0    10000  2.655979  5.970695
1    10050  2.660996  5.941174
2    10100  2.665478  5.973705
3    10150  2.662536  5.967463
4    10200  2.658063  5.983242
..     ...       ...       ...
596  39800  3.118233  4.417034
597  39850  3.120294  4.440938
598  39900  3.273402  4.463656
599  39950  3.304080  4.334178
600  40000  3.427697  4.453195

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_43_vid_10.csv
42

      time   valence   arousal
0    10000  3.280307  4.318104
1    10050  3.128607  4.331223
2    10100  3.066507  4.410061
3    10150  3.064748  4.425922
4    10200  3.021892  4.387146
..     ...       ...       ...
596  39800  2.764645  4.874210
597  39850  2.808702  4.888350
598  39900  2.917830  4.874628
599  39950  2.870042  4.803419
600  40000  2.818456  4.896699

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_43_vid_11.csv
43

      time   valence   arousal
0    10000  2.820449  4.899219
1    10050  2.764318  4.809780
2    10100  2.733307  4.766858
3    10150  2.636747  4.888153
4    10200  2.632425  4.914508
..     ...       ...       ...
596  39800  2.523287  5.051810
597  39850  2.542321  5.048374
598  39900  2.576608  5.034004
599  39950  2.620890  4.981869
600  40000  2.612468  4.995669

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_43_vid_13.csv
44

      time   valence   arousal
0    10000  2.601361  5.026892
1    10050  2.607251  4.983379
2    10100  2.635657  4.983911
3    10150  2.670453  4.947698
4    10200  2.680476  4.951360
..     ...       ...       ...
596  39800  2.400306  5.084669
597  39850  2.373503  5.124235
598  39900  2.391325  5.118289
599  39950  2.414599  5.103421
600  40000  2.411158  5.098062

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_43_vid_14.csv
45

      time   valence   arousal
0    10000  2.418469  5.105290
1    10050  2.453460  5.070678
2    10100  2.457288  5.071511
3    10150  2.490190  5.074499
4    10200  2.544353  5.053794
..     ...       ...       ...
596  39800  2.520003  5.308275
597  39850  2.521297  5.301414
598  39900  2.518529  5.314803
599  39950  2.526960  5.324184
600  40000  2.515317  5.335816

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_43_vid_2.csv
46

      time   valence   arousal
0    10000  2.514055  5.316618
1    10050  2.573511  5.399805
2    10100  2.523748  5.410479
3    10150  2.512751  5.355762
4    10200  2.498333  5.355783
..     ...       ...       ...
596  39800  3.954624  6.026834
597  39850  4.398880  6.096287
598  39900  4.114265  6.056428
599  39950  4.310804  6.089138
600  40000  4.393262  6.202796

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_43_vid_20.csv
47

      time   valence   arousal
0    10000  4.221194  5.994684
1    10050  4.163333  6.097474
2    10100  4.307687  6.178884
3    10150  4.376758  6.169664
4    10200  4.327143  6.133629
..     ...       ...       ...
596  39800  2.622893  5.530494
597  39850  2.609365  5.525343
598  39900  2.567590  5.421586
599  39950  2.585707  5.407952
600  40000  2.573928  5.445297

[601 rows x 3 columns]

Saved: results/scenario_2/fold_3/test/annotations/sub_43_vid_9.csv
fold_4
28895
28895
0

      time   valence   arousal
0    10000  3.461368  6.572682
1    10050  3.464608  6.607221
2    10100  3.413889  6.582869
3    10150  3.434086  6.624495
4    10200  3.459698  6.601959
..     ...       ...       ...
596  39800  3.342592  6.642051
597  39850  3.325141  6.608166
598  39900  3.276572  6.657736
599  39950  3.100769  6.719507
600  40000  3.249711  6.641833

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_20_vid_0.csv
1

      time   valence   arousal
0    10000  2.595126  6.057020
1    10050  2.642973  6.138711
2    10100  2.680692  6.185717
3    10150  2.671298  6.188619
4    10200  2.637736  6.179893
..     ...       ...       ...
596  39800  2.645938  6.081283
597  39850  2.633440  6.076302
598  39900  2.613814  6.060971
599  39950  2.621588  6.060427
600  40000  2.603282  6.049271

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_20_vid_10.csv
2

      time   valence   arousal
0    10000  2.617717  6.111077
1    10050  3.838476  5.739493
2    10100  2.734871  6.181649
3    10150  2.748673  6.193546
4    10200  4.003742  5.802952
..     ...       ...       ...
596  39800  2.662473  6.082475
597  39850  2.642037  6.072112
598  39900  2.623607  6.079569
599  39950  2.774245  5.996953
600  40000  2.757725  6.014944

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_20_vid_11.csv
3

      time   valence   arousal
0    10000  2.654057  6.061647
1    10050  2.685282  6.114968
2    10100  2.680279  5.829472
3    10150  2.703578  5.846646
4    10200  2.753641  5.863164
..     ...       ...       ...
596  39800  4.062970  6.243038
597  39850  4.184118  6.096577
598  39900  4.115623  6.165860
599  39950  4.402778  5.705362
600  40000  4.375107  5.692131

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_20_vid_13.csv
4

      time   valence   arousal
0    10000  4.053112  6.137443
1    10050  4.524115  5.672793
2    10100  4.410869  6.091235
3    10150  3.448676  6.392098
4    10200  2.721979  6.262869
..     ...       ...       ...
596  39800  2.812124  6.190350
597  39850  2.778012  6.170959
598  39900  2.746116  6.145888
599  39950  2.753651  6.146254
600  40000  2.760859  6.154932

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_20_vid_14.csv
5

      time   valence   arousal
0    10000  2.755749  6.150967
1    10050  2.721505  6.124045
2    10100  2.709169  6.121520
3    10150  2.702893  6.124327
4    10200  2.650099  6.343029
..     ...       ...       ...
596  39800  2.699902  6.396370
597  39850  2.750583  6.424587
598  39900  2.729779  6.403805
599  39950  2.710387  6.399794
600  40000  2.757606  6.416786

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_20_vid_2.csv
6

      time   valence   arousal
0    10000  2.757729  6.414458
1    10050  2.704159  6.452937
2    10100  2.826450  6.393240
3    10150  2.741595  6.404799
4    10200  2.713810  6.395190
..     ...       ...       ...
596  39800  4.389443  6.471599
597  39850  4.581547  6.343854
598  39900  4.604436  6.175669
599  39950  4.400330  6.189171
600  40000  4.629934  6.091228

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_20_vid_20.csv
7

      time   valence   arousal
0    10000  4.514308  6.402617
1    10050  4.396749  6.480839
2    10100  4.619695  6.063938
3    10150  4.626113  6.405485
4    10200  4.580412  6.154106
..     ...       ...       ...
596  39800  3.461874  5.496791
597  39850  3.568310  5.487838
598  39900  3.427784  5.508402
599  39950  3.421090  5.531651
600  40000  3.444831  5.558489

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_20_vid_9.csv
8

      time   valence   arousal
0    10000  3.403511  5.521809
1    10050  3.446541  5.501926
2    10100  3.392777  5.470226
3    10150  3.442654  5.500727
4    10200  3.391349  5.497610
..     ...       ...       ...
596  39800  3.749245  5.928646
597  39850  3.764943  5.904005
598  39900  3.657502  5.983341
599  39950  3.712996  5.921991
600  40000  3.766423  5.915361

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_24_vid_0.csv
9

      time   valence   arousal
0    10000  3.733260  5.897705
1    10050  3.822536  5.866553
2    10100  3.697538  5.936027
3    10150  3.809275  5.874413
4    10200  3.811728  5.847715
..     ...       ...       ...
596  39800  3.837305  5.678734
597  39850  3.822819  5.675178
598  39900  3.853300  5.688498
599  39950  3.829308  5.669171
600  40000  3.812510  5.668103

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_24_vid_10.csv
10

      time   valence   arousal
0    10000  3.827552  5.663252
1    10050  3.834409  5.670516
2    10100  3.732142  5.676028
3    10150  3.827966  5.682748
4    10200  3.811443  5.663520
..     ...       ...       ...
596  39800  4.010612  5.281248
597  39850  4.063612  5.272524
598  39900  4.077799  5.269731
599  39950  4.070883  5.275389
600  40000  4.064169  5.278472

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_24_vid_11.csv
11

      time   valence   arousal
0    10000  4.038651  5.283851
1    10050  4.046903  5.280298
2    10100  4.031376  5.283925
3    10150  4.012466  5.305294
4    10200  4.054762  5.328907
..     ...       ...       ...
596  39800  4.795214  4.578062
597  39850  4.823884  4.584830
598  39900  4.880406  4.626918
599  39950  4.803382  4.617563
600  40000  4.991758  4.644467

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_24_vid_13.csv
12

      time   valence   arousal
0    10000  4.905671  4.619529
1    10050  4.962525  4.663999
2    10100  4.942897  4.693191
3    10150  4.892489  4.653130
4    10200  4.915013  4.653547
..     ...       ...       ...
596  39800  4.552238  4.879217
597  39850  4.446757  4.896742
598  39900  4.612087  4.896974
599  39950  4.614914  4.898497
600  40000  4.528808  4.862521

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_24_vid_14.csv
13

      time   valence   arousal
0    10000  4.560588  4.872986
1    10050  4.495181  4.856761
2    10100  4.547924  4.861343
3    10150  4.516526  4.832222
4    10200  4.528424  4.856806
..     ...       ...       ...
596  39800  4.519024  4.849558
597  39850  4.536538  4.856715
598  39900  4.514589  4.841137
599  39950  4.516597  4.860687
600  40000  4.496312  4.858457

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_24_vid_2.csv
14

      time   valence   arousal
0    10000  4.513093  4.876493
1    10050  4.527921  4.885605
2    10100  4.469472  4.889306
3    10150  4.633797  4.880492
4    10200  4.488053  4.828524
..     ...       ...       ...
596  39800  4.337615  5.035172
597  39850  4.369268  5.040637
598  39900  4.386748  5.023135
599  39950  4.397448  5.012254
600  40000  4.371091  5.010233

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_24_vid_20.csv
15

      time   valence   arousal
0    10000  4.393373  5.036145
1    10050  4.389340  5.035828
2    10100  4.385821  5.009075
3    10150  4.359264  5.003402
4    10200  4.393579  5.016427
..     ...       ...       ...
596  39800  3.839571  5.613864
597  39850  3.810050  5.600415
598  39900  3.820765  5.620978
599  39950  3.773771  5.609732
600  40000  3.794628  5.588448

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_24_vid_9.csv
16

      time   valence   arousal
0    10000  3.789335  5.585549
1    10050  3.878546  5.613941
2    10100  3.882794  5.604188
3    10150  3.856136  5.587511
4    10200  3.829938  5.584539
..     ...       ...       ...
596  39800  4.440061  4.930334
597  39850  5.108788  5.394861
598  39900  4.981897  5.361393
599  39950  4.682139  5.131117
600  40000  5.460975  5.589305

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_31_vid_0.csv
17

      time   valence   arousal
0    10000  4.688740  5.103723
1    10050  5.387938  5.565010
2    10100  4.883773  5.234068
3    10150  4.982206  5.319529
4    10200  4.956186  5.287001
..     ...       ...       ...
596  39800  5.920927  3.588821
597  39850  5.770020  3.597287
598  39900  5.739474  3.672890
599  39950  5.733468  3.643500
600  40000  5.750452  3.554271

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_31_vid_10.csv
18

      time   valence   arousal
0    10000  5.665359  3.571445
1    10050  5.731110  3.545977
2    10100  5.822876  3.511653
3    10150  5.729016  3.524848
4    10200  5.706568  3.607363
..     ...       ...       ...
596  39800  6.030214  3.431224
597  39850  6.022099  3.508626
598  39900  6.036233  3.410475
599  39950  6.106856  3.394469
600  40000  6.211010  3.308366

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_31_vid_11.csv
19

      time   valence   arousal
0    10000  6.101069  3.379092
1    10050  6.154040  3.380522
2    10100  6.044945  3.583263
3    10150  6.046434  3.543267
4    10200  6.162141  3.322890
..     ...       ...       ...
596  39800  7.554239  5.398666
597  39850  6.823541  5.229696
598  39900  7.164604  5.331484
599  39950  6.097945  4.953355
600  40000  6.482671  5.285819

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_31_vid_13.csv
20

      time   valence   arousal
0    10000  7.680184  5.499419
1    10050  7.213164  5.392181
2    10100  6.460384  5.227504
3    10150  6.637934  5.373700
4    10200  6.330087  5.150972
..     ...       ...       ...
596  39800  5.420990  3.862822
597  39850  5.604718  3.883280
598  39900  5.439010  3.875685
599  39950  5.457692  3.806283
600  40000  5.325794  3.788465

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_31_vid_14.csv
21

      time   valence   arousal
0    10000  5.378803  3.823269
1    10050  5.254222  3.743152
2    10100  5.201014  3.754220
3    10150  5.222383  3.778389
4    10200  5.252182  3.740685
..     ...       ...       ...
596  39800  5.876426  3.862568
597  39850  5.895552  3.941670
598  39900  5.921517  3.850130
599  39950  5.905646  3.817656
600  40000  5.958895  3.663860

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_31_vid_2.csv
22

      time   valence   arousal
0    10000  5.976418  3.630633
1    10050  5.791989  3.772957
2    10100  6.013878  4.192235
3    10150  5.948155  3.905942
4    10200  5.969457  3.795270
..     ...       ...       ...
596  39800  6.493512  5.302371
597  39850  6.780145  4.754628
598  39900  6.347553  5.141097
599  39950  6.615891  5.233493
600  40000  6.687758  5.291876

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_31_vid_20.csv
23

      time   valence   arousal
0    10000  6.838709  5.390725
1    10050  6.661672  4.949257
2    10100  6.531135  5.267831
3    10150  6.494870  5.304014
4    10200  6.298276  5.127207
..     ...       ...       ...
596  39800  5.595241  3.619753
597  39850  5.692498  3.616465
598  39900  5.657645  3.674135
599  39950  5.773998  3.609239
600  40000  5.671595  3.634299

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_31_vid_9.csv
24

      time   valence   arousal
0    10000  5.647970  3.660293
1    10050  5.652435  3.636931
2    10100  5.671117  3.633775
3    10150  5.617674  3.687121
4    10200  5.685030  3.617818
..     ...       ...       ...
596  39800  3.486877  6.469380
597  39850  3.514516  6.467232
598  39900  3.490869  6.427715
599  39950  3.513240  6.440491
600  40000  3.534539  6.505831

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_32_vid_0.csv
25

      time   valence   arousal
0    10000  3.423476  6.501184
1    10050  3.484864  6.465275
2    10100  3.532547  6.456427
3    10150  3.520540  6.499723
4    10200  3.491394  6.552065
..     ...       ...       ...
596  39800  2.882436  6.785527
597  39850  2.814942  6.763988
598  39900  2.771173  6.755105
599  39950  2.920975  6.754583
600  40000  2.840905  6.722935

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_32_vid_10.csv
26

      time   valence   arousal
0    10000  2.635379  6.736536
1    10050  2.789101  6.796861
2    10100  2.924131  6.735034
3    10150  2.921289  6.706089
4    10200  2.935758  6.724610
..     ...       ...       ...
596  39800  2.634419  6.683203
597  39850  2.630144  6.701238
598  39900  2.547036  6.732860
599  39950  2.897991  6.330661
600  40000  2.940254  6.310900

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_32_vid_11.csv
27

      time   valence   arousal
0    10000  2.618820  6.674504
1    10050  2.687647  6.701622
2    10100  2.693165  6.774580
3    10150  2.650485  6.777050
4    10200  2.650662  6.752690
..     ...       ...       ...
596  39800  3.329709  5.791464
597  39850  3.329138  5.789211
598  39900  3.290177  5.770358
599  39950  3.331326  5.788428
600  40000  3.286249  5.728369

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_32_vid_13.csv
28

      time   valence   arousal
0    10000  3.287691  5.745975
1    10050  3.300698  5.747075
2    10100  3.286369  5.737886
3    10150  3.302272  5.731712
4    10200  3.278830  5.722450
..     ...       ...       ...
596  39800  2.723106  6.179646
597  39850  2.728751  6.194524
598  39900  2.771310  6.249551
599  39950  2.792293  6.272951
600  40000  2.760916  6.234507

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_32_vid_14.csv
29

      time   valence   arousal
0    10000  2.830234  6.277997
1    10050  2.742276  6.210213
2    10100  2.720258  6.186253
3    10150  2.741587  6.206490
4    10200  2.776801  6.230252
..     ...       ...       ...
596  39800  3.205073  6.540382
597  39850  3.195256  6.481950
598  39900  3.157681  6.443616
599  39950  3.171227  6.505965
600  40000  3.127921  6.500511

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_32_vid_2.csv
30

      time   valence   arousal
0    10000  3.176090  6.461055
1    10050  3.171083  6.416514
2    10100  3.153180  6.403614
3    10150  3.126512  6.480430
4    10200  3.081485  6.531525
..     ...       ...       ...
596  39800  4.054846  6.154015
597  39850  3.648636  6.489977
598  39900  3.582213  6.539733
599  39950  3.553159  6.568270
600  40000  3.515734  6.555834

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_32_vid_20.csv
31

      time   valence   arousal
0    10000  3.473870  6.549015
1    10050  3.551459  6.520514
2    10100  3.573984  6.520339
3    10150  3.513590  6.515070
4    10200  3.534573  6.529449
..     ...       ...       ...
596  39800  2.933611  5.966678
597  39850  2.952728  5.991148
598  39900  2.933246  5.998383
599  39950  2.984796  6.042120
600  40000  2.965056  6.023849

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_32_vid_9.csv
32

      time   valence   arousal
0    10000  2.979018  6.015897
1    10050  2.981620  6.006538
2    10100  2.960221  5.993588
3    10150  2.942073  5.989837
4    10200  2.959917  6.004928
..     ...       ...       ...
596  39800  3.563269  4.414453
597  39850  3.414948  4.379273
598  39900  3.389577  4.372586
599  39950  3.383455  4.370820
600  40000  3.286361  4.318875

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_45_vid_0.csv
33

      time   valence   arousal
0    10000  3.235743  4.287025
1    10050  3.254652  4.277365
2    10100  3.278797  4.270922
3    10150  3.310285  4.296040
4    10200  3.315572  4.307686
..     ...       ...       ...
596  39800  4.003473  3.494388
597  39850  3.999861  3.491570
598  39900  4.026535  3.497915
599  39950  4.061730  3.510467
600  40000  4.116342  3.554589

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_45_vid_10.csv
34

      time   valence   arousal
0    10000  4.125252  3.578930
1    10050  4.301485  3.653134
2    10100  4.224997  3.619224
3    10150  4.187024  3.580626
4    10200  4.208235  3.612308
..     ...       ...       ...
596  39800  4.887711  3.188083
597  39850  4.582959  2.961186
598  39900  4.546490  2.894501
599  39950  4.555128  2.902905
600  40000  4.614178  2.921469

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_45_vid_11.csv
35

      time   valence   arousal
0    10000  4.706027  2.972285
1    10050  4.723924  2.967973
2    10100  4.698635  2.963278
3    10150  4.735517  2.996511
4    10200  4.831422  3.044030
..     ...       ...       ...
596  39800  4.249310  3.834447
597  39850  4.266650  3.844014
598  39900  4.304965  3.858115
599  39950  4.277287  3.871670
600  40000  4.295961  3.863836

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_45_vid_13.csv
36

      time   valence   arousal
0    10000  4.297267  3.895729
1    10050  4.328027  3.916487
2    10100  4.341891  3.932305
3    10150  4.397737  3.969334
4    10200  4.382490  3.957879
..     ...       ...       ...
596  39800  4.541805  3.350908
597  39850  4.642385  3.393590
598  39900  4.603194  3.374201
599  39950  4.574875  3.353260
600  40000  4.585908  3.369654

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_45_vid_14.csv
37

      time   valence   arousal
0    10000  4.555118  3.349302
1    10050  4.384894  3.196192
2    10100  4.349351  3.170564
3    10150  4.381309  3.160071
4    10200  4.431827  3.174655
..     ...       ...       ...
596  39800  3.847780  3.762615
597  39850  3.884294  3.798077
598  39900  3.874348  3.802517
599  39950  3.860523  3.805859
600  40000  3.881087  3.823298

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_45_vid_2.csv
38

      time   valence   arousal
0    10000  3.895486  3.842685
1    10050  3.929530  3.855291
2    10100  3.934554  3.870527
3    10150  4.105288  3.927766
4    10200  3.991290  3.877178
..     ...       ...       ...
596  39800  4.963829  2.710586
597  39850  4.982409  2.714630
598  39900  5.004469  2.749554
599  39950  5.008020  2.749586
600  40000  5.029977  2.758185

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_45_vid_20.csv
39

      time   valence   arousal
0    10000  5.017213  2.790170
1    10050  5.071658  2.810298
2    10100  5.117237  2.829197
3    10150  5.110345  2.855561
4    10200  5.129003  2.865654
..     ...       ...       ...
596  39800  5.200767  2.958861
597  39850  5.168446  2.938702
598  39900  4.899534  2.730513
599  39950  4.872832  2.682806
600  40000  4.891081  2.692672

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_45_vid_9.csv
40

      time   valence   arousal
0    10000  4.952517  2.719464
1    10050  5.023498  2.773227
2    10100  5.018999  2.764997
3    10150  5.024512  2.758906
4    10200  5.052442  2.798721
..     ...       ...       ...
596  39800  3.821647  5.690329
597  39850  3.816129  5.694439
598  39900  3.823332  5.699389
599  39950  3.842097  5.693331
600  40000  3.849499  5.669571

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_7_vid_0.csv
41

      time   valence   arousal
0    10000  3.848516  5.703696
1    10050  3.854740  5.683666
2    10100  3.843426  5.697219
3    10150  3.839001  5.686558
4    10200  3.843507  5.697342
..     ...       ...       ...
596  39800  4.532027  4.646756
597  39850  4.531541  4.682641
598  39900  4.619831  4.706307
599  39950  4.581429  4.739890
600  40000  5.046137  5.063174

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_7_vid_10.csv
42

      time   valence   arousal
0    10000  4.812174  4.844114
1    10050  4.442830  4.621702
2    10100  4.452564  4.645715
3    10150  4.454069  4.639066
4    10200  4.377032  4.617224
..     ...       ...       ...
596  39800  4.089403  5.067867
597  39850  4.080271  5.046781
598  39900  4.481822  5.313262
599  39950  4.045804  5.025815
600  40000  4.074553  5.079893

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_7_vid_11.csv
43

      time   valence   arousal
0    10000  4.074317  5.086265
1    10050  3.998101  5.058571
2    10100  4.024524  5.002285
3    10150  4.031487  5.034387
4    10200  4.051813  5.026520
..     ...       ...       ...
596  39800  3.877725  5.208233
597  39850  3.880646  5.200672
598  39900  3.887127  5.211266
599  39950  3.902943  5.186050
600  40000  3.898568  5.201634

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_7_vid_13.csv
44

      time   valence   arousal
0    10000  3.897338  5.209248
1    10050  3.886786  5.183798
2    10100  3.905040  5.193558
3    10150  3.921887  5.184422
4    10200  3.919068  5.189147
..     ...       ...       ...
596  39800  3.817224  5.115824
597  39850  3.845836  5.116764
598  39900  3.836286  5.122096
599  39950  3.839100  5.124273
600  40000  3.803542  5.124554

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_7_vid_14.csv
45

      time   valence   arousal
0    10000  3.836962  5.135295
1    10050  3.867416  5.125119
2    10100  3.845686  5.129258
3    10150  3.858857  5.148733
4    10200  3.870908  5.174732
..     ...       ...       ...
596  39800  3.671076  5.470388
597  39850  3.668401  5.467278
598  39900  3.655874  5.472991
599  39950  3.659146  5.483325
600  40000  3.647482  5.490824

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_7_vid_2.csv
46

      time   valence   arousal
0    10000  3.642528  5.480839
1    10050  3.626193  5.489397
2    10100  3.654354  5.539051
3    10150  3.620232  5.495504
4    10200  3.611010  5.500579
..     ...       ...       ...
596  39800  4.207582  5.811360
597  39850  4.630252  5.759084
598  39900  4.354972  5.847953
599  39950  4.856833  6.045923
600  40000  5.233485  5.884963

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_7_vid_20.csv
47

      time   valence   arousal
0    10000  4.434979  5.851486
1    10050  4.293365  5.922171
2    10100  5.347320  5.714192
3    10150  5.347727  5.816393
4    10200  5.388319  5.630638
..     ...       ...       ...
596  39800  3.670396  5.511972
597  39850  3.660645  5.534413
598  39900  3.652809  5.491939
599  39950  3.713511  5.496101
600  40000  3.719127  5.501239

[601 rows x 3 columns]

Saved: results/scenario_2/fold_4/test/annotations/sub_7_vid_9.csv